{% if heading %}
    <h3>{{ heading }}</h3>
{% endif %}
<a href="{{ SITE_URL }}message/{{ id }}" class="message clearfix">
    <div class="message-left">
        <div class="message-event-time">{{ eventtime }}</div>
    </div>
    <div class="message-right">
        <div class="message-author">
            {{ name }}
        </div>
        <div class="message-body">
            {{ location }}
            {% if distance and distance != 'N/A' %}
                <span>({{ distance }})</span>
            {% endif %}
            <span class="message-age" title="{{ timestamp }}">{{ age }}</span>
        </div>
        <div class="message-tools">
            {% if replies %}
                <div class="message-replies-count">{{ replies|length }}</div>
            {% endif %}
        </div>
    </div>
</a>
