{% if heading %}
    <h3>{{ heading }}</h3>
{% endif %}
<div class="message clearfix">
    <div class="message-left">
        <a href="{{ SITE_URL }}message/{{ id }}" class="message-event-link">
            <span class="message-time">{{ eventtime }}</span>
            <span class="message-picture">
                <img class="avatar"
                     src="{{ STATIC_URL }}img/calendar.png"
                     alt="{{ eventdate }}" width="48" height="48" />
                <span class="message-eventmonth">{{ eventmonth }}</span>
                <span class="message-eventday">{{ eventday }}</span>
            </span>
            {% if postcode %}<span class="message-distance">{{ distance }}</span>{% endif %}
            <span class="message-area">{{ area }}</span>
        </a>
    </div>
    <div class="message-right">
        <div class="message-author">
            <a href="{{ SITE_URL }}message/{{ id }}">{{ name }}</a>
        </div>
        <div class="message-body">
            <a href="{{ SITE_URL }}message/{{ id }}" class="message-body-link">
                {{ location }}
                <span class="message-tags">{% for tag in tags %}{{ tag.value }} {% endfor %}</span>
                <span class="message-age" title="{{ timestamp }}">{{ age }}</span>
            </a>
        </div>
        <div class="message-tools">
            {% if replies %}
                <a href="{{ SITE_URL }}message/{{ id }}" class="message-tools-link">
                    <span class="message-replies-count">{{ replies|length }}</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
