{% if heading %}
    <h3>{{ heading }}</h3>
{% endif %}
<div class="message clearfix">
    <div class="message-left">
        <a href="{{ SITE_URL }}message/{{ id }}" class="message-event-link">
            <div class="message-event-time">
                {{ eventtime }}
                {% if eventendtime %}<div>{{ eventendtime }}</div>{% endif %}
            </div>
            <div class="message-event-visibility">
                {% if distance and distance != 'N/A' %}<span>{{ distance }}</span>{% endif %}
                <span>{{ area }}</span></div>
        </a>
    </div>
    <div class="message-right">
        <div class="message-author">
            <a href="{{ SITE_URL }}message/{{ id }}">{{ name }}</a>
        </div>
        <div class="message-body">
            <a href="{{ SITE_URL }}message/{{ id }}" class="message-body-link">
                {{ location }}
                <div class="message-tags">{% for tag in tags %}<span>{{ tag.value }}</span> {% endfor %}</div>
                <span class="message-age" title="{{ timestamp }}">{{ age }}</span>
            </a>
        </div>
        <div class="message-tools">
            {% if replies %}
                <a href="{{ SITE_URL }}message/{{ id }}" class="message-tools-link">
                    <div class="message-replies-count">{{ replies|length }}</div>
                </a>
            {% endif %}
        </div>
    </div>
</div>
