<div class="message no-results">
    <div class="message-left">
        <div class="message-picture">
            <img class="avatar"
                 src="{{ STATIC_URL }}img/calendar.png"
                 alt="No results" width="48" height="48" />
        </div>
        <span class="message-area">404</span>
    </div>
    <div class="message-right">
        <div class="message-author">
            <p><span class="bold">Oops! It's lonely in here.</span></p>
            <p>No activities match your search criteria.</p>
            <p>You might want to increase the distance range using the target icon below.</p>
            <p>You can also increase the maximum range in your account preferences.</p>
        </div>
    </div>
    <div class="message-content clearfix"></div>
</div>

