<div class="legal-footer">
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="" target="_blank">Feedback &amp; Support</a></li>
        <li class="inline"><a href="/terms">Terms &amp; conditions</a></li>
        <li class="inline"><a href="/privacy">Privacy policy</a></li>
        <li class="inline"><a href="/cookies">Cookies</a></li>
        <li class="last"><em>Powered by Beatscope Engineering</em><br/>&copy; 2008-{% now "Y" %} <a href="http://beatscope.co.uk/" target="_blank">Beatscope Limited</a></li>
    </ul>
</div>
