<div class="message clearfix">
    <div class="message-left">
        {% if member.is_admin %}
            <div class="message-picture">
                <a href="{{ SITE_URL}}message/{{ id }}/">
                    <img class="avatar"
                         src="{% if member.picture %}{{ member.picture }}{% else %}{{ STATIC_URL }}img/picture-default.png{% endif %}"
                         alt="{{ member.name }}" width="48" height="48" />
                </a>
            </div>
        {% elif member.id == account.id %}
            <div class="message-picture">
                <a href="{{ SITE_URL }}profile/{{ recipient.slug }}">
                    <img class="avatar"
                         src="{% if recipient.picture %}{{ recipient.picture }}{% else %}{{ STATIC_URL }}img/picture-default.png{% endif %}"
                         alt="{{ recipient.name }}" width="48" height="48" />
                </a>
            </div>
        {% else %}
            <div class="message-picture">
                <a href="{{ SITE_URL}}profile/{{ member.slug }}">
                    <img class="avatar"
                         src="{% if member.picture %}{{ member.picture }}{% else %}{{ STATIC_URL }}img/picture-default.png{% endif %}"
                         alt="{{ member.name }}" width="48" height="48" />
                </a>
            </div>
        {% endif %}
        {% comment %}<div class="message-visibility">{{ visibility }}</div>{% endcomment %}
        <div class="message-area">{{ area }}</div>
    </div>
    <div class="message-right">
        <div class="message-author">
            {% if member.is_admin %}
                <a href="{{ SITE_URL }}message/{{ id }}/">{{ member.name }}</a>
            {% elif member.id == account.id %}
                <a href="{{ SITE_URL }}profile/{{ recipient.slug }}">{{ recipient.name }}</a>
            {% else %}
                <a href="{{ SITE_URL }}profile/{{ member.slug }}">{{ member.name }}</a>
            {% endif %}
        </div>
        <div class="message-body">
            <a href="{{ SITE_URL }}message/{{ id }}/" class="message-body-link">
                {{ body|safe }}
                {% for tag in tags_item %}<span>{{ tag.value }}</span> {% endfor %}
                <span class="message-age" title="{{ timestamp }}">{{ age }}</span>
            </a>
        </div>
        <div class="message-tools">
            {% if replies %}
                <a href="{{ SITE_URL }}message/{{ id }}/" class="message-tools-link">
                    <span class="message-replies-count">{{ replies|length }}</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
