<div class="message clearfix">
    <div class="message-left">
        <div class="message-picture">
            <img class="avatar"
                 src="{{ STATIC_URL }}img/picture-default.png"
                 alt="No results" width="48" height="48" />
        </div>
    </div>
    <div class="message-right">
        <div class="message-author">
            Oops! It's lonely in here.
        </div>
        <div class="message-body">
            You don't have any private messages.
        </div>
    </div>
</div>
