<p class="notification{% if not read %} unread{% endif %}">{% for message in thread.messages %}
    {% if forloop.counter == 1 %}
    {% elif forloop.counter == thread.messages|length %}and
    {% else %},
    {% endif %}
    <a href="{{ SITE_URL }}profile/{{ message.member.slug }}">{{ message.member.name }}</a>{% endfor %}
    <strong>replied to</strong>
    <em><a href="{{ SITE_URL }}message/{{ thread.parent.id }}">{{ thread.parent.title|truncatechars:48 }}</a></em>
    <span>{{ age }}</span>
</p>
