{% extends "nirit/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="content password edit">
    <div class="padded">
    {% if validlink %}
        <h1>{% trans 'Enter new password' %}</h1>
        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        <div id="login-card">
            <form action="" method="post">
                {% if form.errors %}
                <div id="form-errors">
                    <ul>
                        {% if form.errors.new_password1 %}
                            <li>New password is required.</li>
                        {% endif %}
                        {% if form.errors.new_password2 %}
                            <li>Confirm password is required.</li>
                        {% endif %}
                    <ul>
                </div>
                {% endif %}
                {% csrf_token %}
                <div class="form-field"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</div>
                <div class="form-field"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</div>
                <ul id="login-links">
                    <li><input type="submit" class="button" value="{% trans 'Change my password' %}" /></li>
                </ul>
            </form>
        </div>
    {% else %}
        <h1>{% trans 'Password reset unsuccessful' %}</h1>
        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    {% endif %}
    </div>
</div>
{% endblock %}

{% block extrajs %}{{ super }}
<script type="text/javascript">
    $(document).on('ml.Ready', function () {
        $('#id_new_password1').focus();
        $('#form-errors').bind('click', function () {
            $(this).hide();
            $('#id_new_password1').focus();
        });
        setTimeout(function () {
            $('#form-errors').fadeOut();
            $('#id_new_password1').focus();
        }, 2000);
    });
</script>
{% endblock %}
