{% extends "nirit/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="content password edit">
    <div class="padded">
        <h1>{% trans "Password reset" %}</h1>
        <p class="description">{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
        <div id="login-card">
            <form action="" method="post">
                {% if form.errors.email %}
                <div id="form-errors">
                    <p>E-mail address empty or invalid.</p>
                </div>
                {% endif %}
                {% csrf_token %}
                <div class="form-field"><label for="id_email">{% trans 'E-mail:' %}</label>{{ form.email }}</div>
                <ul id="login-links">
                    <li><input type="submit" class="button" value="{% trans 'Reset my password' %}" /></li>
                </ul>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}{{ super }}
<script type="text/javascript">
    $(document).on('ml.Ready', function () {
        $('#id_email').focus();
        $('#form-errors').bind('click', function () {
            $(this).hide();
        });
        setTimeout(function () {
            $('#form-errors').fadeOut();
        }, 2000);
    });
</script>
{% endblock %}
