{% extends "base.html" %}
{% load i18n static %}

{% block title %}Change Password{% endblock %}

{% block bodyclass %}edit-mode password-edit{% endblock %}

{% block heading %}<h1>Change password</h1>{% endblock %}

{% block content %}
<div>
    <section>
        <div class="form-card box">
            <p class="description">Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
            <form action="" method="post">
                {% csrf_token %}
                {% if form.errors %}
                <div id="form-errors">
                    {% if form.old_password.errors %}
                        <p><strong>Old password</strong> is required.</p>
                    {% elif form.new_password1.errors %}
                        <p><strong>New password</strong> is required.</p>
                    {% else %}
                        <p>The two password fields didn't match.</p>
                    {% endif %}
                </div>
                {% endif %}
                <div class="form-field">
                    <label for="id_old_password">{% trans 'Old password' %}:</label>{{ form.old_password }}
                </div>
                <div class="form-field">
                    <label for="id_new_password1">{% trans 'New password' %}:</label>{{ form.new_password1 }}
                </div>
                <div class="form-field">
                    <label for="id_new_password2">{% trans 'Password (again)' %}:</label>{{ form.new_password2 }}
                </div>
                <div class="form-field buttons">
                    <div class="ui-grid-a">
                        <div class="ui-block-a cancel">
                            <a href="/profile/edit/account" data-role="button" data-icon="arrow-l" data-iconpos="left">Cancel</a>
                        </div>
                        <div class="ui-block-b">
                            <input type="submit" value="Change" class="button" data-icon="check" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

</div>
{% endblock %}

{% block extrajs %}{{ super }}
<script type="text/javascript">
    $(document).on('ml.Ready', function () {
        $('#id_old_password').focus();
        setTimeout(function () {
            $('#form-errors').slideUp();
        }, 2000);
    });
</script>
{% endblock %}
