{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block bodyclass %}anon register{% endblock %}

{% block content %}
<div class="intro">
    <a href="{{ SITE_URL }}"><img src="{{ STATIC_URL }}img/logo-bigger.png" width="150" height="55" alt="Mumlife" /></a>
    {% if validlink %}
        <p class="description"><strong>Enter new password</strong></p>
        <p class="description">Please enter your new password twice so we can verify you typed it in correctly.</p>
    {% else %}
        <p class="description"><strong>Password reset unsuccessful</strong></p>
        <p class="description">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}</strong></p>
</div>

{% if validlink %}
<div class="login-box edit-mode">
    <form class="form-card" action="" method="post">
        {% csrf_token %}
        {% if form.errors %}
        <div id="form-errors">
            <ul>
                {% if form.errors.new_password1 %}
                    <li>New password is required.</li>
                {% endif %}
                {% if form.errors.new_password2 %}
                    <li>Confirm password is required.</li>
                {% endif %}
            <ul>
        </div>
        {% endif %}
        <div class="form-field"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</div>
        <div class="form-field"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</div>

        <div class="ui-grid-solo">
            <input type="submit" class="button" value="{% trans 'Change my password' %}" data-icon="check" />
        </div>
    </form>
</div>
{% endif %}

{% include "tags/footer.html" %}
{% endblock %}

{% block extrajs %}{{ super }}
<script type="text/javascript">
    $(document).on('ml.Ready', function () {
        $('#id_new_password1').focus();
        {% if form.errors %}
        $('#form-errors').bind('click', function () {
            $(this).hide();
            $('#id_new_password1').focus();
        });
        setTimeout(function () {
            $('#form-errors').fadeOut();
            $('#id_new_password1').focus();
        }, 2000);
        {% endif %}
    });
</script>
{% endblock %}
