{% extends "nirit/base.html" %}

{% load i18n static %}

{% block title %}Sign Up to Nirit{% endblock %}

{% block content %}
<div class="content sign-up edit">
    <div id="signup-card">
        <div class="padded">
            <h1>You have successfully signed up to Nirit</h1>
            <div class="description">
                <p>Thank you for registering.</p>
            </div>
            <p>Your company owner has been notified that you are requesting to join. 
            As soon as they approve your membership, you will be able to access the notice board and the directory.</p>
            <p>All new users and companies must be approved before they can access the board and the directory.
            This is to ensure only legitimate real companies can post and have access to your building noticeboard.</p>
            <p>Thank you for your patience.</p>
        </div>
    </div>
</div>
{% endblock %}
