/*! 
 * Mumlife Styles.
 * 
 * @version     2014-02-25 3.0.2
 * @author      Michael Giuliano <michael@beatscope.co.uk>
 * @copyright   2014 Beatscope Limited | http://www.beatscope.co.uk/
 */

* {
    margin:0;
    padding:0;
}
html { background:#eee9ef; }

html,
button,
input,
select,
textarea {
    color: #444;
}
body {
    font-size: 1em;
    line-height: 1.3;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}
sidebar { display:none; }
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.description {
    font-size:0.9em;
    font-style:italic;
    color:#666;
}
#mumlifecookies { display:none; }
.banner {
    color:#B6B9BA;
    background:#363636;
    margin-top:5px;
    padding:5px 10px;
}
    .banner h2.banner-title {
        color:#fff;
        line-height:2em;
    }
    .banner p.banner-content {
        line-height:1.2em;
    }
    .banner ul.banner-options {
        margin-top:5px;
        list-style-type:none;
        text-align:center;
    }
    .banner button {
        margin:0 auto;
    }
    #mumlifecookies a,
    #mumlifecookies a:visited,
    #mumlifecookies a.ui-link,
    #mumlifecookies a.ui-link:visited { 
        color:#fff;
        font-weight:normal;
        text-decoration:none;
    }
    .banner div:hover a { text-decoration:underline; }


body {
    font: 16px/26px Arial;
}
.ui-content {
    padding:5px;
}
.ui-header .ui-title {
    margin:0;
}
input.ui-input-text {
    background:#AADFD7;
}
.ui-input-search {
    border-radius:0.3em;
}
.ui-input-clear { margin:0 5px; }
div.ui-input-has-clear {
    padding:0 5px 0 0.4em;
}
.ui-input-search.ui-focus {
    box-shadow: 0 0 3px #A93E2E;
}
.ui-loading .ui-loader {
    background:#000;
}
h2 {
    font-size:1.2em;
    color:#a93e2e;
    text-align:center;
    text-shadow: 2px 2px 2px #c9a690;
}
sidebar h2 {
    margin:10px;
    color:#444;
    text-align:left;
    text-shadow: none;
}
a:link, a:visited, a:hover, a:active { outline:none; }
a {
    color:#64B0B3;
}
a.bold {
    color:#A93E2E;
    text-decoration:none;
    font-weight:bold;
}
span.bold {
    color:#A93E2E;
    font-weight:bold;
}
.required {
    color:#a93e2e;
    font-weight:bold;
}
.optional {
    opacity:0.5;
}
a.icon-link {
    display:block;
    width:32px;
    height:32px;
    text-align:center;
    text-decoration: none;
}
.icon {
    display:block;
    width:32px;
    height:32px;
    background:transparent url(../img/icons-20140212.png) no-repeat;
}
.icon.disabled {
    opacity:0.5;
}

.icon.icon-menu { background-position: -160px 0; }
.icon.icon-menu:hover { background-position: -160px -32px; }
.icon.icon-write { background-position: -96px 0; }
.icon.icon-write:hover { background-position: -96px -32px; }

.icon.icon-comment { background-position: -192px 0; }

.icon.icon-profile { background-position: -224px -96px; }
.icon.icon-profile:hover { background-position: -224px -128px; }
.icon.icon-settings { background-position: -128px -96px; }
.icon.icon-settings:hover { background-position: -128px -128px; }
.icon.icon-search { background-position: -32px -96px; }
.icon.icon-search:hover { background-position: -32px -128px; }
.icon.icon-target { background-position: -160px -96px; }
.icon.icon-target:hover { background-position: -160px -128px; }
.icon.icon-rotate { background-position: -320px -128px; }
.icon.icon-rotate:hover { background-position: -320px -96px; }
.icon.icon-back { background-position: -96px -96px; }
.icon.icon-back:hover { background-position: -96px -128px; }
.icon.icon-post { background-position: -64px -96px; }
.icon.icon-post:hover { background-position: -64px -128px; }
.icon.icon-edit { background-position: -128px -96px; }
.icon.icon-edit:hover { background-position: -128px -128px; }
.icon.icon-delete { background-position: -256px -96px; }
.icon.icon-delete:hover { background-position: -256px -128px; }
.icon.icon-addtofriend,
.icon.icon-confirmfriend { background-position: -192px -96px; }
.icon.icon-addtofriend:hover,
.icon.icon-confirmfriend:hover { background-position: -192px -128px; }
.icon.icon-pendingfriend,
.icon.icon-pendingfriend:hover { background-position: -192px -128px; }
.icon.icon-local { background-position: 0 -96px; }
.icon.icon-local:hover,
a.active .icon.icon-local { background-position: 0 -128px; }
.icon.icon-friends,
.icon.icon-friend,
.icon.icon-friend:hover { background-position: -288px -96px; }
.icon.icon-friends:hover,
a.active .icon.icon-friends { background-position: -288px -128px; }
.icon.icon-flag { background-position: -128px 0; }
.icon.icon-flag:hover { background-position: -128px -32px; }
a.active .icon.icon-flag { background-position: -128px -64px; }

.box {
    margin-bottom:5px;
    padding:10px;
    border-radius:0.3em;
    background:#fff;
    color:#444;
    box-shadow:0 0 3px rgba(68,68,68,.2);
}


/* Textareas */
textarea.message-body {
    display:block;
    padding:5px;
    margin:0 auto;
    border:solid 1px #a93e2e;
    border-radius:5px;
    background:#AADFD7;
    opacity:0.5;
}
    textarea.message-body:focus {
        opacity:1;
    }


/* Buttons */
.ui-btn.active,
.ui-btn.active:hover {
    cursor:default;
    border: 1px solid #cccccc /*{c-bdown-border}*/;
    background: #a93e2e /*{c-bdown-background-color}*/;
    font-weight: bold;
    color: #ffffff /*{c-bdown-color}*/;
    text-shadow: 0 /*{c-bdown-shadow-x}*/ 1px /*{c-bdown-shadow-y}*/ 0 /*{c-bdown-shadow-radius}*/ #444444 /*{c-bdown-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #b94432 /*{c-bdown-background-start}*/), to( #983729 /*{c-bdown-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #b94432 /*{c-bdown-background-start}*/, #983729 /*{c-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #b94432 /*{c-bdown-background-start}*/, #983729 /*{c-bdown-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #b94432 /*{c-bdown-background-start}*/, #983729 /*{c-bdown-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #b94432 /*{c-bdown-background-start}*/, #983729 /*{c-bdown-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #b94432 /*{c-bdown-background-start}*/, #983729 /*{c-bdown-background-end}*/);
}

img.avatar {
    display:block;
    border-radius:0.5em;
}


/* ========
    Header
   ======== */

header {
    position:relative;
}
header .buttons { 
    position:absolute;
    width:100%;
    top:8px;
}
header .buttons .icon-link {
    margin-right:5px;
    float:right;
}
header .buttons .icon-link:first-child, 
header .buttons .icon-link:first-child + .icon-link {
    margin-right:0;
    margin-left:5px;
    float:left;
}
header .main-logo {
    position:relative;
    text-align:center;
    margin:5px 25%;
    line-height:32px;
    z-index:10;
    text-transform:uppercase;
    text-decoration:none;
    color:#fff;
}
    header .main-logo a.ui-link,
    header .main-logo a.ui-link:visited {
        position:relative;
        z-index:10;
        text-decoration:none;
        color:#fff;
    }
header .title {
    position:relative;
    text-align:center;
    font-size:0.4em;
    color:#64B0B3;
    text-shadow:none;
    background:#fff;
    text-transform:lowercase;
    border-bottom:1px solid #b3b3b3;
    z-index:10;
}
header .title h2 {
    font-size:1.6em;
    color:#999;
    text-shadow:none;
    margin:0 10%;
    line-height:1.6em;
}
header .heading-line {
    background:#fff;
    border-bottom:1px solid #b3b3b3;
}
    header .heading-line * {
        margin-top:0;
        margin-bottom:0;
    }
    header .heading-line .ui-btn-up-a {
        background: #fff;
        color: #64B0B3;
        text-shadow: none;
    }
    header .heading-line .ui-btn-up-a:visited,
    header .heading-line .ui-btn-up-a a.ui-link-inherit {
        color: #64B0B3;
    }
    header .heading-line .ui-btn-hover-a {
        background: #fff;
        color: #64B0B3;
        text-shadow: none;
        background-image: none;
    }
    header .heading-line .ui-btn-hover-a:visited,
    header .heading-line .ui-btn-hover-a:hover,
    header .heading-line .ui-btn-hover-a a.ui-link-inherit {
        color: #64B0B3;
    }
    header .heading-line .ui-btn-down-a {
        background: #fff;
        color: #64B0B3;
        text-shadow: none;
    }
    header .heading-line .ui-btn-down-a:visited,
    header .heading-line .ui-btn-down-a:hover,
    header .heading-line .ui-btn-down-a a.ui-link-inherit {
        color: #64B0B3;
    }
    header .heading-line .ui-btn-inner {
        border:none;
    }
    header .heading-line .ui-corner-all,
    header .heading-line .ui-btn-corner-all {
        -webkit-border-radius:0;
        border-radius: 0;
    }

header .search-form {
    display:none;
    margin:0 5px;
}
header .search-form .ui-body-a {
    background:#aadfd7;
    border:none;
}
header .search-form input[type="text"] {
    border-radius:0.3em;
}
    header .search-form input[type="text"].ui-input-text::-webkit-input-placeholder { color:#fff; opacity:0.6; }
    header .search-form input[type="text"].ui-input-text::-moz-placeholder { color:#fff; opacity:0.6; } /* firefox 19+ */
    header .search-form input[type="text"].ui-input-text:-ms-input-placeholder { color:#fff; opacity:0.6; } /* ie */
    header .search-form input[type="text"].ui-input-text:-moz-placeholder { color:#fff; opacity:0.6; }

/* ======
    Menu
   ====== */

#menu {
    display:none;
    position:relative;
    margin:5px 10px 10px;
    z-index:999;
}
#menu .ui-icon {
    margin-right:2px;
}
#menu .ui-btn-up-a {
    background: #fff;
    color: #444;
    text-shadow: none;
}
#menu .ui-btn-up-a:visited,
#menu .ui-btn-up-a a.ui-link-inherit {
    color: #444;
}


/* ========
    Footer
   ======== */

footer {
    height:auto;
}
footer nav ul {
    margin:5px 0 0;
    padding: 0;
    list-style-type:none;
    text-align:center;
}
footer nav ul li {
    display:inline-block;
    width:64px;
    height:32px;
}
footer nav li a.icon-link,
footer nav li a.icon-link:hover {
    width:64px;
    height:32px;
    background:none;
}
    footer nav li img,
    footer nav li span {
        display:block;
        margin:0 auto;
        text-align:center;
        text-shadow:#999 0 1px 0;
        color: white;
        font-size:0.6em;
        line-height:1em;
    }


/* =====================
    Home / Registration
   ===================== */

body.home .main-container {
    background-color:#62989a;
}

body.home .banner {
    margin:0;
}
body.home .home-screen {
    padding-bottom:10px;
    background-repeat:no-repeat;
    background-position:0 0;
    background-size:100% auto;
    background-attachment:scroll;
    background-image:url(../creative/6999917.jpg);
}
body.home .intro {
    padding:5px;
    margin-bottom:55px;
}
body.home #login-links .ui-grid-a .ui-btn-text {
    font-size:0.9em;
}
body.home #login-links a {
    text-decoration:none;
}
body.home #login-links a.home-forgot {
    display:block;
    margin-left:10px;
    color:#fff;
    font-size:0.9em;
    text-shadow:1px 1px 0 #000;
}
body.home .home-features {
    padding:10px 0 0;
    border-top:solid 3px #fff;
    background:#64b0b3;
}
    body.home .home-features ul {
        list-style-type:none;
        padding-left:1%;
    }
    body.home .home-features ul li {
        display:block;
        margin:10px auto;
        width:180px;
        height:180px;
        background:#f58821;
        color:#fff;
        border-radius:50%;
        text-align:center;
        text-shadow:1px 1px 0 #666;
    }
    body.home .home-features strong {
        display:block;
        line-height:50px;
        
        text-transform:uppercase;
    }
    body.home .home-features p {
        line-height:20px;
        padding:0 20px;
    }
    body.home .home-organisers {
        margin-top:25px;
        border-top:solid 3px #fff;
        background:#f58821;
    }
    body.home .home-organisers h3 {
        position:relative;
        top:-15px;
        background:#fff;
        width:70%;
        padding:5px 10px;
        margin:0 auto;
        text-align:center;
        border-radius:0.3em;
    }
    body.home .home-organisers p {
        text-align:center;
        padding:1em 10% 0.3em;
    }
    body.home #mc_embed_signup {
        width:70%;
        padding:5px;
        max-width:480px;
        margin:0 auto;
    }

body.anon header .main-logo {
    display:none;
}
body.anon .ui-body-a {
    background:none;
}

body.register .ui-page {
    background-color:#64b0b3;
}
body.register .intro {
    margin-bottom:5px;
}
    body.anon .intro img {
        display:block;
        width:150px;
        height:auto;
        margin-left:-10px;
        padding:0 5px;
    }
    body.anon .intro p {
        color:#fff;
        font-size:1.4em;
        line-height:1.2em;
        font-weight:bold;
        text-shadow:1px 1px 5px #000;
    }
    body.anon .intro p.description {
        color:#222;
        font-weight:normal;
        text-shadow:0 1px 0 #fff;
        font-size:1em;
        padding:5px;
        margin:5px 0;
        border-radius:.3em;
        background:rgba(255,255,255,.8);
    }
    body.register .intro p.description {
        background:#fae7be;
    }
body.anon #form-errors {
    margin-left:5px;
    margin-right:5px;
}
body.anon .form-card {
    margin-top:45px;
}
body.anon .form-card .ui-checkbox label.ui-btn { margin:0.5em 0; }
body.register .form-card {
    margin:0;
    padding:4px;
    border-radius:.3em;
    border:solid 1px #c6ad85;
    background:#fae7be;
}
    body.anon .form-card .form-field {
        margin:5px;
    }
    body.anon .form-card .description {
        margin:0 5px;
        font-size:0.8em;
    }
    body.anon .form-card .form-field input {
        color:#fff;
        text-shadow:0 1px 0 #222;
    }
    body.anon .form-card span { background:none; }
    body.anon .form-card .form-field.agreed label {
        line-height:1em;
    }
    body.anon .form-card .form-field.agreed label .ui-btn-text {
        font-size:0.8em;
    }
    body.anon .form-card .form-field.agreed input {
        z-index:10;
    }

body.anon div.ui-input-text {
    color:#fff;
    text-shadow:0 1px 0 #222;
    font-weight:normal;
    background:rgba(0,0,0,.5);
    border-color:#c6ad85;
    border-radius:0.3em;
    box-shadow:none;
}
body.home .home-organisers input {
    color:#fff;
}
    body.anon input.ui-input-text::-webkit-input-placeholder { color:#fff; opacity:0.6; }
    body.anon input.ui-input-text::-moz-placeholder { color:#fff; opacity:0.6; } /* firefox 19+ */
    body.anon input.ui-input-text:-ms-input-placeholder { color:#fff; opacity:0.6; } /* ie */
    body.anon input.ui-input-text:-moz-placeholder { color:#fff; opacity:0.6; }

body.anon .ui-btn {
    color:#222;
    text-shadow:0 1px 0 #fff;
    background:rgba(255,255,255,.8);
    border-color:#222;
    border-radius:0.3em;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.legal-footer {
    display:none;
    margin:5px 0 0;
    padding:5px;
    background:rgba(0,0,0,.6);
}
    .legal-footer ul {
        list-style:none;
        line-height:1.2em;
        font-size:0.8em;
    }
    .legal-footer ul li {
        display:inline;
        padding:5px;
        color:#fff;
        text-shadow:0 1px 0 #222;
        white-space:nowrap;
    }
    .legal-footer ul li.last {
        display:block;
    }
    .legal-footer ul a,
    .legal-footer ul a:visited {
        color:#fff;
        text-decoration:none;
        text-shadow:0 1px 0 #222;
        opacity:0.6;
    }
    .legal-footer ul a:hover {
        color:#fff;
        opacity:1;
    }
body.anon .legal-footer {
    display:block;
}

body.anon .form-field.culumns-2 .ui-block-a .ui-input-text,
body.anon .form-field.culumns-2 .ui-block-a .form-errors { margin-right:5px; }
body.anon .form-field.culumns-2 .ui-block-b .ui-input-text,
body.anon .form-field.culumns-2 .ui-block-b .form-errors { margin-left:5px; }


/* =======
    Pages
   ======= */

body.staticpage .ui-page {
    background-color:#64b0b3;
}
body.staticpage header .buttons,
body.staticpage header .title {
    display:none;
}
body.staticpage .main-container {
    margin:5px;
    border-radius:0.3em;
    background:#fff;
    color:#444;
    box-shadow:0 0 3px rgba(68,68,68,.2);
}
body.staticpage .legal-footer {
    display:block;
}
body.staticpage .main-logo {
    text-align:left;
    margin:5px;
    line-height:32px;
    z-index:10;
    text-transform:uppercase;
    text-decoration:none;
    color:#fff;
}
.page {
    margin:10px;
}
.page h1 {
    padding-bottom:0.5em;
}
.page h3 {
    padding-top:1em;
}
.page p, .page ul, .page ol {
    padding:0.5em 0;
    font-size:.8em;
    line-height:1.4em;
}
.page ul li, .page ol li {
    margin-left:2em;
}
.page blockquote {
    padding:10px;
    margin:10px;
    background:#E5ECF3;
}
.page strong {
    color:#A93E2E;
}


/* =====================
    Profile (Edit Mode)
   ===================== */

body.edit-mode .legal-footer {
    display:block;
    margin:30px 0 0;
}
.edit-mode a[data-role="button"] {
    text-align:left;
}
.edit-mode span.count {
    position:relative;
    display: inline-block;
    font-size:0.6em;
    border: 1px solid #9BC2B3;
    border-radius: 1em;
    margin-left:10px;
    padding: 0.3em 0.5em;
    top:-0.25em;
    line-height:1em;
    background:#9BC2B3;
    color:#fff;
    text-shadow:#999 1px 1px 0;
    -moz-box-shadow: 1px 1px 0                rgba(0,0,0,.2);
    -webkit-box-shadow: 1px 1px 0             rgba(0,0,0,.2);
    box-shadow: 1px 1px 0                     rgba(0,0,0,.2);
}
.edit-mode *[data-role="collapsible"] *[data-role="listview"] li {
    background:#fff;
}
.edit-mode *[data-role="collapsible"] *[data-role="listview"] li a.ui-link {
    text-shadow:none;
}
.form-card {}
.form-card .ui-checkbox .ui-btn,
.form-card .ui-btn-left, .form-card .ui-btn-right, 
.form-card .ui-input-clear, .form-card .ui-btn-inline, 
.form-card .ui-grid-a .ui-btn, 
.form-card .ui-grid-b .ui-btn, 
.form-card .ui-grid-c .ui-btn, 
.form-card .ui-grid-d .ui-btn, 
.form-card .ui-grid-e .ui-btn, 
.form-card .ui-grid-solo .ui-btn {
    margin:0.5em 5px;
}
.form-card .form-field {
    margin-bottom:1.4em;
}
.form-card p {
    margin:.5em 0;
    line-height:1.2em;
}
.form-card label,
.form-card legend,
.form-card label.ui-input-text {
    font-weight:bold;
}
.form-card input[type="text"],
.form-card input[type="password"],
.form-card textarea,
.form-card div.ui-input-text {
    background:#AADFD7;
}
img.picture-edit {
    display:block;
    margin:5px auto;
    width:403px;
    height:403px;
}
body.edit-account img.picture-edit {
    width:150px;
}
.form-field.picture {
    position:relative;
}
    .picture-rotate {
        position:absolute;
        top:1.4em;
        left:160px;
    }
#form-errors,
.form-errors {
    color:#fff;
    margin:1em 0;
    padding:10px;
    border-radius:0.3em;
    background:#e33c2f;
}
#form-errors *,
.form-errors * {
    margin:0;
    padding:0;
    list-style-type:none;
    text-shadow:none;
}
.edit-mode .popular-interests {
    margin-top:15px;
}
.edit-mode.password-edit .form-field.buttons .ui-grid-a .ui-btn {
    margin-left:0;
    margin-right:0;
}
.edit-mode.password-edit .form-field.buttons .ui-grid-a .cancel .ui-btn {
    margin-right:10px;
}
.edit-mode .add-kid .ui-collapsible-content {
    padding:0;
}

/* Manage Friends */
.edit-mode.manage-friends li.ui-li-static.ui-li {
    padding:0;
}
.edit-mode.manage-friends li.ui-li-static.ui-li .ui-block-a a {
    display:block;
    margin-top:1.2em;
    margin-left:1em;
    text-decoration:none;
}


/* ===============
    Notifications
   =============== */

#notifications-screen {
    background:#000;
}
#notifications-popup {
    padding-top:10px;
    padding-right:1%;
    width:91%;
}
.notifications {
    height:300px;
    overflow:auto;
    border-radius:0.3em;
    background:#fff;
    color:#444;
    box-shadow:0 0 3px rgba(68,68,68,.2);
}
.side-notifications {
    padding:10px;
    color:#444;
}

.notifications .notification,
.side-notifications .notification {
    padding:10px;
    line-height:1.2em;
    border-top:solid 1px #ececec;
}
    .notifications .notification:first-child,
    .side-notifications .notification:first-child {
        border:none;
    }
    .notifications .notification.unread {
        background:#AADFD7;
    }
    .notifications .notification a,
    .side-notifications .notification a {
        font-weight: normal;
        text-decoration:none;
    }
    .notifications .notification span,
    .side-notifications .notification span {
        display:block;
        font-size:0.9em;
        color:#999;
        font-style:italic;
    }
    .notifications .notification strong,
    .side-notifications .notification strong {
        font-weight:normal;
    }


/* ============
    Local Feed
   ============ */

.feed {}
.feed .ui-btn { display:none; }
.message {
    margin:5px 0 10px;
    border-radius:0.3em;
    background:#fff;
    color:#444;
    box-shadow:0 0 3px rgba(68,68,68,.2);
}
.message a, .message a.ui-link,
.message a:visited, .message a.ui-link:visited,
.feed .message a, .feed .message a:visited,
.feed .message a.ui-link, .feed .message a.ui-link:visited {
    font-weight:normal;
    text-decoration:none;
}
.message.no-results p {
    font-weight:normal;
    padding:0.5em 0;
    color:#306663;
}
.message .message-image {
    padding:10px;
    border-top:solid 1px #ececec;
}
.message .message-image img { 
    display:block;
    margin:0 auto;
    width:100%;
    height:auto;
    max-width:403px;
    max-height:403px;
}
.message-left {
    float:left;
    width:15%;
    padding:10px 5% 0 5%;
}
.message-right {
    position:relative;
    float:left;
    width:70%;
    padding:10px 5% 0 0;
}
.message-content {
    clear:left;
}

.message-picture img.avatar {
    border-radius:48px;
}
.message-author,
.message .message-author a, .message .message-author a.ui-link,
.message .message-author a:visited, .message .message-author a.ui-link:visited {
    font-weight:bold;
    margin-bottom:.3em;
    line-height:1.5em;
    color:#64B0B3;
}
.message-area {
    font-size:0.9em;
    line-height:1em;
    color:#999;
    text-transform:capitalize;
    text-shadow: 0 1px 0 #fff;
}
.message-body {
    padding:10px;
    line-height:1.3em;
    padding-bottom:5px;
    color:#306663;
}
.message-body a, .message-body a.ui-link,
.message-body a:link, .message-body a.ui-link:link,
.message-body a:visited, .message-body a.ui-link:visited {
    color:#306663;
}
.message-body span {
    color:#999;
    font-style:italic
}
.message-tools {
    display:block;
    padding:10px;
    border-top:solid 1px #ececec;
}
    .message-replies {
        position:relative;
        display:block;
        float:left;
        font-size:0.9em;
        font-weight:bold;
        color:#64B0B3;
        padding-left:32px;
    }
    .message-replies span.icon {
        position:absolute;
        top:-3px;
        left:0;
    }
    .message-age {
        display:block;
        float:right;
        font-size:0.9em;
        color:#999;
    }

/* Private Message Form */
.write-pm {
    margin:15px auto;
}
#errors-screen {
    background:#000;
}


/* ============
    Activities
   ============ */

body.activities .feed h3 {
    color:#666;
    font-size:.9em;
    text-transform:uppercase;
    text-shadow: 1px 1px 1px #fff;
}
body.activities .message-left span {
    display:block;
    width:48px;
    font-size:0.9em;
    text-transform:capitalize;
    text-shadow: 0 1px 0 #fff;
    text-align:center;
}
    body.activities .message-left .message-area {
        padding-top:5px;
    }
    body.activities .message-left .message-distance {
        padding:5px 0;
        font-size:0.8m;
        line-height:0.9em;
        color:#999;
        text-transform:lowercase;
    }
    body.activities .message-left .message-picture {
        position:relative;
    }
        body.activities .feed .message-left .message-picture .message-eventmonth {
            display:block;
            width:48px;
            position:absolute;
            top:-3px;
            color:#fff;
            font-size:0.75em;
            text-transform:uppercase;
        }
        body.activities .feed .message-left .message-picture .message-eventday {
            display:block;
            width:48px;
            position:absolute;
            top:18px;
            color:#ae2f19;
            font-weight:bold;
            font-size:1.2em;
        }
body.activities .message-right {
    padding-bottom:10px;
}
body.activities .message-right span {
    display:block;
}

body.activities .message-body {
    padding:0;
}
body.activities .message-body span {
    display:inline;
    font-size:0.9em;
    color:#999;
}
body.activities .message-time {
    font-size:0.9em;
    line-height:1.1em;
    color:#999;
}

body.activities .message-area {
    font-size:0.9em;
    line-height:1.1em;
    color:#999;
}

/** Slider **/
.slider-container {
    display:none;
    position:relative;
    padding:0 5px;
}
.slider-container .ui-btn-up-a {
    background:#fff;
}
.slider-container form {
    margin-right:40px;
}
.slider-container a#filter {
    position:absolute;
    top:-6px;
    right:-25px;
}


/* =========================
    Message / Event Details
   ========================= */

.message-event-data {}
.message-event-details {
    margin:.5em 0;
    color:#64B0B3;
    text-align:center;
    line-height:1.2em;
}
    .message-event-details .message-event-info {
        margin-top:1em;
        padding:0 10%;
        font-weight:bold;
        line-height:1.2em;
    }
        .message-event-details .message-event-info span {
            display:block;
            color:#666;
            font-weight:normal;
            font-style:italic;
        }
.message-map {
    position:relative;
    height:250px;
}
    .message-map #map {
        position:relative;
        width:100%;
        border:dotted 1px #ccc;
        height:250px;
    }

.message-full {
    position::relative;
}
.message-full .message-body p {
    padding:0.5em 0;
}
.message-full .message-body a,
.message-full .message-body a.ui-link,
.message-full .message-body a:visited,
.message-full .message-body a.ui-link:visited {
    color:#999;
    font-style:italic;
    font-weight:normal;
    text-decoration:none;
}
.message-full .message-body a:hover,
.message-full .message-body a.ui-link:hover {
    color:#A93E2E;
}

.message-comments {
    margin:5px 0;
}
.message-reply {
    position:relative;
    margin-bottom:5px;
    border-bottom:solid 1px #ececec;
}
    .message-reply .message-left,
    .message-reply .message-right {
        padding-top:0;
    }
    .message-reply .message-author a,
    .message-reply .message-author a.ui-link { text-decoration:none; }
    .message-reply .message-body {
        padding:0;
    }
    .message-reply .message-body p {
        padding:0.3em 0;
        line-height:1.2em;
    }

    .message-full .message-reply-form {
        width:100%;
    }


/* ================
    Member Profile
   ================ */

body.profile header {
    z-index:10;
}
body.profile .member-profile {
    border-radius:0.3em;
    padding-bottom:10px;
    background:#fff;
    color:#306663;
    box-shadow:0 0 3px rgba(68,68,68,.2);
}
body.profile .header-pic {
    width:100%;
    position:relative;
    top:-5px;
    margin-bottom:10px;
}
    body.profile .header-pic img.avatar {
        position:relative;
        margin:0 auto;
        border-radius:150px;
    }
body.profile div[data-entity="message"] {
    margin-top:1em;
    margin-bottom:1em;
}
body.profile p.interests {
    margin:1em 10% 1.5em;
    text-align:center;
    line-height:1.2em;
    color:#666;
}
    body.profile p.interests a,
    body.profile p.interests a.ui-link {
        font-weight:bold;
        text-decoration:none;
    }
body.profile .distance {
    color:#999;
    text-align:center;
}
body.profile .member-details {
    margin:1em 10%;
}
body.profile .about {
    color:#306663;
    line-height:1.2em;
    text-align:center;
}
body.profile .kids {}
    body.profile .kids .kid {
        width:165px;
        min-height:48px;
        margin:.5em auto;
        padding-top:.25em;
        padding-left:105px;
        color:#ae2f19;
        line-height:1.2em;
        font-weight:bold;
        background-repeat:no-repeat;
        background-position:32px 0;
    }
        body.profile .kids .kid.daughter { background-image:url(../img/pix-flower_2014-02-11.png); }
        body.profile .kids .kid.son { background-image:url(../img/pix-train_2014-02-11.png); }
    body.profile .kids .kid .kid-age {
        color:#64B0B3;
    }


/* =======================
    Write Message / Event
   ======================= */

.write-message h2 a,
.write-message h2 a.ui-link,
.write-message h2 a:visited,
.write-message h2 a.ui-link:visited {
    color:#666;
    opacity:0.7;
    text-decoration:none;
}
.write-message h2 a:hover {
    opacity:1;
}
.write-message .form-card p.description {
    line-height:1em;
}
.write-message .form-field.picture {
    margin-top:1em;
}
.write-message .edit-eventdate {}
    .write-message .edit-eventdate .ui-block-a {
        width:50%;
    }
    .write-message .edit-eventdate .ui-block-b {
        width:50%;
    }
    .write-message .edit-eventdate .ui-block-b label,
    .write-message .edit-eventdate .ui-block-b .ui-input-text {
        margin-left:10px;
    }

.write-message .form-visibility .ui-select {
    display:none;
}
.write-message .message-types {
    margin:15px auto 0;
}
    .write-message .message-types .message-type {
        float:left;
        width:48%;
        margin-right:4%;
    }
    .write-message .message-types .message-type:last-child {
        margin-right:0;
    }
    .write-message .message-types .message-type a.message-option {
        display:block;
        height:120px;
        padding:5px;
        border:solid 1px #a93e2e;
        text-decoration:none;
        color:#666;
        border-radius:0.3em;
    }
    .write-message .message-types .message-type a.message-option:hover {
        color:#fff;
        background:#AADFD7;
        text-shadow: 0 1px 0 #888;
    }
    .write-message .message-types .message-type a.message-option p {
        padding:0;
        margin:0;
        text-align:center;
        font-size:0.9em;
        line-height:1.3em;
    }
    .write-message .message-types .message-type a.message-option.selected {
        background:#a93e2e;
        color:#fff;
        text-shadow: 0 1px 0 #888;
    }
    .write-message .message-types .message-type a.message-option img {
        margin:3px auto;
    }
    
    .write-message .message-types
    .message-type a.message-option img.icon-local {
        background-position: -32px -32px;
    }
    .write-message .message-types
    .message-type a.message-option:hover img.icon-local {
        background-position: -32px -64px;
    }
    .write-message .message-types
    .message-type a.message-option.selected img.icon-local {
        background-position: -32px 0;
    } 
    .write-message .message-types
    .message-type a.message-option img.icon-friends {
        background-position: 0 -32px;
    }
    .write-message .message-types
    .message-type a.message-option:hover img.icon-friends {
        background-position: 0 -64px;
    }
    .write-message .message-types
    .message-type a.message-option.selected img.icon-friends {
        background-position: 0 0;
    }
    .write-message .message-types
    .message-type a.message-option span {
        display:block;
        font-size:0.65em;
        line-height:1.1em;
        color:#999;
        text-align:center;
    }
    .write-message .message-types .message-type a.message-option:hover span {
        color:#fff;
    }
    .write-message .message-types .message-type a.message-option.selected span {
        color:#fff;
        text-shadow: 0 1px 0 #888;
    }
    .write-message .submit-btn {
        margin-top:15px;
    }


/* =========
    Members
   ========= */

.members {
    border-radius:0.3em;
    background:#fff;
    color:#444;
    box-shadow:0 0 3px rgba(68,68,68,.2);
}
.members .member {
    padding:10px;
    border-bottom:solid 1px #ececec;
}
.members .member:last-child {
    border:none;
}
.members .member.no-results p {
    padding:0.5em 0;
}
.members .member-left {
    float:left;
    width:25%;
}
    .members .member-left .picture {
        width:58px;
        margin:0 auto;
    }
    .members .member-left .picture img.avatar {
        border-radius:48px;
    }
.members .member-right {
    position:relative;
    float:right;
    width:75%;
}
    .members .member-right .member-author,
    .members .member-right .member-body {
        line-height:1.2em;
        padding-bottom:0.3em;
    }
    .members .member-right .member-author span {
        display:block;
        font-style:italic;
        font-size:0.9em;
        color:#999;
    }
    .members .member-right .member-author a {
        text-decoration:none;
    }
    .members .member-right .member-body a {
        font-weight:normal;
        color:#666;
        font-size:0.9em;
        text-decoration:none;
    }
    .members .member-right .member-tools {}
    .members .member-right .member-tools .icon.icon-addtofriend,
    .members .member-right .member-tools .icon.icon-confirmfriend { background-position: -64px -32px; }
    .members .member-right .member-tools .icon.icon-addtofriend:hover,
    .members .member-right .member-tools .icon.icon-confirmfriend:hover { background-position: -64px -64px; }
    .members .member-right .member-tools .icon.icon-pendingfriend { background-position: -64px -64px; }
    .members .member-right .member-tools .icon.icon-friend,
    .members .member-right .member-tools .icon.icon-friend:hover { background-position: 0 -64px; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* ==============
    INTERMEDIATE
   ============== */
@media only screen and (min-width: 480px) {

    body.home .main-container {
        background-image:url(../img/pattern.png);
    }
    body.home .home-screen {
        width: 480px;
        margin: 0 auto;
        border-radius:0.3em;
    }
    body.home .home-screen .form-card {
        margin-left:10px;
        margin-right:10px;
    }
    .message-body {
        padding-left:25%;
    }

}

/* ======
    WIDE
   ====== */
@media only screen and (min-width: 768px) {

    html,
    .ui-body-a,
    .ui-overlay-a {
        background:#fff;
    }
    .banner {
        padding:5px 20%;
    }
    .main-container {
        padding:10px 0 0;
    }
    body.home .main-container {
        padding:0;
        border-left:solid 1px #fff;
        border-right:solid 1px #fff;
    }
    body.home .home-features ul {
        text-align:center;
    }
    body.home .home-features ul li {
        display:inline-block;
        vertical-align:top;
        margin:10px 5%;
    }
    article {
        width:63%;
        margin:0 1%;
        margin-right:5%;
        float:left;
    }
    sidebar {
        display:block;
        width:30%;
        float:left;
    }
    body.staticpage sidebar {
        display:none;
    }
    .page {
       margin:2em;
    }

    header {
        border-bottom-left-radius:0.3em;
        border-bottom-right-radius:0.3em;
    }
    footer {
        border-top-left-radius:0.3em;
        border-top-right-radius:0.3em;
    }

    *[data-entity="notifications"] {
        visibility:hidden;
    }
    header .title {
        padding:15px 0 5px;
        text-align:left;
        font-size:0.8em;
        color:#444;
        text-transform:none;
        border-width:3px;
    }
    .message {
        margin:5px 0 10px;
        border-radius:0;
        box-shadow:none;
        border-bottom:1px solid #b3b3b3;
    }
    .message .message-image {
        padding-left:0;
    }
    .message .message-image img {
        margin-left:25%;
    }
    .members {
        margin:5px 0 10px;
        border-radius:0;
        box-shadow:none;
    }
    body.profile .member-profile {
        border-radius:0;
        box-shadow:none;
    }
    .edit-mode .form-card {
        margin:1em 0;
    }

}

/* ===============
    Maximal Width
   =============== */
@media only screen and (min-width: 1026px) {

    header,
    .ui-header-fixed,
    .ui-footer-fixed,
    .main-container {
        width: 1026px;
        margin: 0 auto;
        padding:0;
    }
    body.staticpage .main-container {
        margin:5px auto;
    }
    body.staticpage .legal-footer {
        width: 1016px;
        margin: 10px auto;
    }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
