/** 
 * Mumlife Desktop Styles.
 * 
 * @version     2013-11-17 1.0.0
 * @author      Michael Giuliano <michael@beatscope.co.uk>
 * @copyright   2013 Beatscope Limited | http://www.beatscope.co.uk/
 */

html {
    background:#fff;
}
header[data-theme="a"],
footer[data-theme="a"] {
    background:#add8c7;
}
header[data-theme="b"],
footer[data-theme="b"] {
    background:#b9e2f8;
}
header[data-theme="c"],
footer[data-theme="c"] {
    background:#df9397;
}

button {
    margin:1em auto;
    padding:8px 15px;
    border:solid 1px #e4ad41;
    border-radius:0.3em;
    background:#f5a21a;
    color:#ffffff;
    text-align:center;
    text-transform:uppercase;
    cursor:pointer;
    text-shadow: 0 /*{shadow-x}*/ 1px /*{shadow-y}*/ 0 /*{shadow-radius}*/ #999999 /*{shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #f5a21a /*{background-start}*/), to( #9bc2b3 /*{background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #f5a21a /*{background-start}*/, #f9c13a /*{background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #f5a21a /*{background-start}*/, #f9c13a /*{background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #f5a21a /*{background-start}*/, #f9c13a /*{background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #f5a21a /*{background-start}*/, #f9c13a /*{background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #f5a21a /*{background-start}*/, #f9c13a /*{background-end}*/);
}
button:hover {
    color:#333333;
    text-shadow:0;
    background-image:none;
}

#errors-screen,
#errors-popup,
.ui-loader {
    display:none;
}

/* ========
    Header
   ======== */

header h1 {
    margin-top:1em;
}
header .search-form input[type="text"] {
    width:50%;
    display:block;
    padding:8px;
    border:solid 1px #e4ad41;
    background:#fefce7;
}

/* ========
    Footer
   ======== */

.main-container {
    padding-bottom:48px;
}
footer {
    width:100%;
    position:fixed;
    bottom:0;
}

/* ===============
    Activity Feed
   =============== */

.feed .ui-btn-inner {
    display:none;
}
