/** 
 * Mumlife Styles.
 * 
 * @version     2013-11-17 1.0.0
 * @author      Michael Giuliano <michael@beatscope.co.uk>
 * @copyright   2013 Beatscope Limited | http://www.beatscope.co.uk/
 */

* {
    margin:0;
    padding:0;
}
html { background:#f5f0ec; }
body { display:none; }

html,
button,
input,
select,
textarea {
    color: #222;
}
body {
    font-size: 1em;
    line-height: 1.3;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.description {
    font-size:0.9em;
    font-style:italic;
    color:#666;
}


body {
    font: 16px/26px Arial;
    min-width:304px; /* 64px * 5 icons */
}

h2 {
    font-size:1.2em;
    color:#a93e2e;
    text-align:center;
}
a:link, a:visited, a:hover, a:active { outline:none; }
a {
    color:#2e71a4;
}
a.bold {
    color:#A93E2E;
    text-decoration:none;
    font-weight:bold;
}

.icon {
    display:block;
    width:32px;
    height:32px;
    background:transparent url(../img/icons.png) no-repeat;
}
.icon.icon-write { background-position: -160px 0; }
.icon.icon-write:hover { background-position: -160px -32px; }
.icon.icon-local { background-position: -64px -32px; }
.icon.icon-local:hover { background-position: -64px 0; }
a.active .icon.icon-local { background-position: -64px -64px; }
.icon.icon-global { background-position: -96px -32px; }
.icon.icon-global:hover { background-position: -96px 0; }
a.active .icon.icon-global { background-position: -96px -64px; }
.icon.icon-friends { background-position: -32px -32px; }
.icon.icon-friends:hover { background-position: -32px 0; }
a.active .icon.icon-friends { background-position: -32px -64px; }
.icon.icon-private { background-position: 0 -32px; }
.icon.icon-private:hover { background-position: 0 0; }
a.active .icon.icon-private { background-position: 0 -64px; }
.icon.icon-addtofriend { background-position: -128px 0; }
.icon.icon-addtofriend:hover { background-position: -128px -32px; }
.icon.icon-pendingfriend { background-position: -128px -64px; }
.icon.icon-confirmfriend { background-position: -128px -64px; }
.icon.icon-confirmfriend:hover { background-position: -128px -32px; }
.icon.icon-friend { background-position: -32px -64px; }

.box {
    padding:15px;
    margin-bottom:15px;
    border:solid 1px #ccc;
    border-radius:0.3em;
    box-shadow:0 2px 0 #eee;
    background:#fff;
}
.ui-body-a .box {
    background:#f5f0ec;
}

/* Member Picture */
.profile.picture {
    margin:0 auto;
    width:58px; /* 48 + 10px img borders */
    height:58px;
}
    img.avatar {
        display:block;
        border:solid 5px #fff;
        border-radius:0.5em;
    }

/* ========
    Header
   ======== */

header {
    position:relative;
}
header .buttons { 
    position:absolute;
    width:100%;
    top:5px;
}
header .buttons .ui-btn {
    /* buttons are 18px wide and high */
    border-radius:0.3em;
    border-color:#9bc2b3;
    background:#9bc2b3;
    margin-right:5px;
    float:right;
}
header .buttons .ui-btn:first-child, 
header .buttons .ui-btn:first-child + .ui-btn {
    margin-right:0;
    margin-left:5px;
    float:left;
}
header h1 {
    position:relative;
    z-index:10;
}

header .search-form {
    margin:0 5px;
}
header .search-form input[type="text"] {
    border-radius:0.8em;
}

/* ======
    Menu
   ====== */

#menu {
    display:none;
    margin:0 5px 10px;
}
#menu .ui-icon {
    margin-right:2px;
}

/* ========
    Footer
   ======== */

footer nav ul {
    margin: 0;
    padding: 0;
    list-style-type:none;
}
footer nav ul li {
    float:left;
    width:64px;
    height:48px;
}
footer nav li a {
    display: block;
    width:64px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size:0.65em;
    line-height:1em;
    text-shadow:#999 0 1px 0;
}
    footer nav img,
    footer nav span {
        display:block;
        margin:0 auto;
        text-align:center;
    }
    footer nav img {
        width:32px;
        height:32px;
        padding-top:2px;
    }
    footer nav span {
        text-align: center;
        font-weight: bold;
        color: white;
        font-size:0.65em;
        line-height:1em;
        text-shadow:#999 0 1px 0;
    }
    footer nav a span {
        font-size:inherit;
        line-height:inherit;
        text-shadow:nonw;
    }

/* ==============
    Registration
   ============== */


/* ===========
    Edit Mode
   =========== */

.form-card {
    margin-top:1em;
}
.form-card .form-field {
    margin-bottom:1.4em;
}
.form-card p {
    margin:.5em 0;
    line-height:1.2em;
}
.form-card label,
.form-card label.ui-input-text {
    font-weight:bold;
}
.form-card input[type="text"],
.form-card input[type="password"],
.form-card textarea {
    background:#fefce7;
}
img.picture-edit {
    display:block;
    border:solid 5px #fff;
    border-radius:0.8em;
}
#form-errors {
    color:#fff;
    margin:1em 0;
    padding:10px;
    border-radius:0.3em;
    background:#e33c2f;
}
#form-errors * {
    margin:0;
    padding:0;
    text-shadow:none;
}

/* ===============
    Activity Feed
   =============== */

.feed .ui-btn { display:none; }
.feed a.message.ui-link,
.feed a.message {
    display:block;
    font-weight:normal;
    text-decoration:none;
    padding:10px 0 15px;
    border-bottom:dashed 1px #ccc;
    color:#222;
}
.feed a.message:last-child {
    border-bottom:none;
}

.message-left {
    float:left;
    width:22%;
}
    .message-left .picture {
        position:relative;
        float:right;
        margin-top:5px;
        margin-right:20%;
    }
    .message-left .message-month {
        position:absolute;
        top:5px;
        width:100%;
        height:18px;
        font-size:0.75em;
        line-height:1.5em;
        color:#fff;
        text-shadow: 0 1px 0 #888;
        text-transform:uppercase;
        text-align:center;
    }
    .message-left .message-day {
        position:absolute;
        top:24px;
        width:100%;
        height:28px;
        font-size:1.1em;
        line-height:1.7em;
        text-align:center;
    }

.message-right {
    position:relative;
    float:right;
    width:78%;
}
    .message-right .message-author {
        font-weight:bold;
        line-height:1.3em;
        margin-bottom:.3em;
    }
        .message-right .message-author span {
            color:#999;
            font-style:italic;
            font-weight:normal;
        }
    .message-right .message-body {
        line-height:1.3em;
        padding-bottom:5px;
    }
        .message-right .message-body span {
            color:#999;
            font-style:italic
        }
    .message-right .message-age {
        display:block;
        font-size:0.9em;
        color:#999;
    }
    .message-right .message-tools {}
        .message-right .message-tools .message-replies-count {
            color:#000;
            font-size:0.65em;
            line-height:1.4em;
            text-shadow:#fff 0 1px 0;
            text-align:center;
            display:block;
            float:left;
            width:19px;
            height:18px;
            margin-right:10px;
            background:url(../img/icon-comment.png) no-repeat;
        }

/* =================
    Events Calendar
   ================= */

.feed h3 {
    color:#666;
    text-transform:uppercase;
    border-bottom:solid 1px #ddd;
}
.feed .message-event-time {
    color:#666;
    text-align:right;
    line-height:1.3em;
    margin-right:20%;
}


/* =========================
    Message / Event Details
   ========================= */

.message-full {
    position::relative;
    margin-top:12px;
}
.message-full .message-event-details {
    margin:1em 0;
}
    .message-full .message-event-details .message-event-time {
        float:left;
        width:22%;
    }
        .message-full .message-event-details .message-event-time span {
            display:block;
            color:#666;
            float:right;
            line-height:1.3em;
            margin-right:20%;
        }
    .message-full .message-event-details .message-event-info {
        float:right;
        width:78%;
        line-height:1.3em;
    }
        .message-full .message-event-details .message-event-info span {
            color:#666;
            font-style:italic;
        }

.message-full.message-event .message-map {
    position:relative;
    height:250px;
}
    .message-full.message-event .message-map #map {
        position:relative;
        width:100%;
        border:dotted 1px #ccc;
        height:250px;
    }
.message-full .message-body {
    margin-top:1em;
    line-height:1.3em;
}
    .message-full .message-body a,
    .message-full .message-body a:visited {
        color:#999;
        font-style:italic;
        font-weight:normal;
        text-decoration:none;
    }
    .message-full .message-body a:hover {
        color:#A93E2E;
    }
.message-full .message-age {
    color:#999;
    font-size:0.9em;
}

.message-full .message-replies {
    margin:1em 0;
}
    .message-full .message-replies .message-reply {
        padding:9px 0;
        border-bottom:dotted 1px #ccc;
        border-left:dotted 1px #ccc;
        border-right:dotted 1px #ccc;
        background:#fff;
    }
    .message-full .message-replies .message-reply:first-child {
        border-top:dotted 1px #ccc;
    }
        .message-full .message-replies .message-reply .picture {
            float:left;
            width:30%;
        }
            .message-full .message-replies .message-reply .picture a {
                display:block;
                float:right;
                margin-right:15%;
            }
        .message-full .message-replies .message-reply .message-reply-info {
            float:left;
            width:70%;
            line-height:1.3em;
        }
            .message-full .message-replies .message-reply .message-reply-author,
            .message-full .message-replies .message-reply .message-reply-body {
                display:inline;
                margin-right:5px;
            }
.message-full .message-reply-form {
    width:100%;
    margin-top:1em;
}
    .message-full .message-reply-form textarea.message-body {
        display:block;
        background:#fefce7;
    }



/* ================
    Member Profile
   ================ */

.profile.picture {
    position:relative;
    margin-top:12px;
    margin-bottom:-12px;
}
    .profile.picture .message-month {
        position:absolute;
        top:5px;
        width:100%;
        height:18px;
        font-size:0.75em;
        line-height:1.4em;
        color:#fff;
        text-shadow: 0 1px 0 #888;
        text-transform:uppercase;
        text-align:center;
    }
    .profile.picture .message-day {
        position:absolute;
        top:25px;
        width:100%;
        height:28px;
        font-size:1.1em;
        line-height:1.6em;
        text-align:center;
        color:#222;
        text-shadow:none;
    }

.profile {
    position:relative;
    margin-top:12px;
    line-height:1.3em;
}
.profile h3 {
    margin:1em 0 0.3em;
}
.profile p {
    margin:0.3em 0 0.7em;
}
.profile a {
    color:#a93e2e;
    font-weight:bold;
    text-decoration:none;
}
.profile .about {
    padding:10px 0;
    border-top:dashed 1px #ccc;
    border-bottom:dashed 1px #ccc;
}
.profile textarea.message-body {
    display:block;
    width:95%;
    color:#666;
    padding:5px;
    margin:0 auto;
    border:solid 1px #a93e2e;
    border-radius:5px;
    background:#fefce7;
    opacity:0.75;
}
    .profile textarea.message-body:focus {
        opacity:1;
    }
    .profile .message-button {
        display:block;
        margin:10px auto;
    }

/* =========================
    Write Message (& Event)
   ========================= */

.write-message h2 a,
.write-message h2 a.ui-link,
.write-message h2 a:visited,
.write-message h2 a.ui-link:visited {
    color:#666;
    opacity:0.7;
    text-decoration:none;
}
.write-message h2 a:hover {
    opacity:1;
}
.write-message textarea.message-body {
    display:block;
    background:#fefce7;
}
.write-message .ui-select {
    display:none;
}
.write-message .message-types {
    margin:15px auto 0;
}
    .write-message .message-types .message-type {
        float:left;
        width:30%;
        margin-right:5%;
    }
    .write-message .message-types .message-type:last-child {
        margin-right:0;
    }
    .write-message .message-types .message-type a.message-option {
        display:block;
        height:120px;
        padding:5px;
        border:solid 1px #a93e2e;
        text-decoration:none;
        color:#666;
        border-radius:0.3em;
    }
    .write-message .message-types .message-type a.message-option p {
        padding:0;
        margin:0;
        text-align:center;
        font-size:0.9em;
        line-height:1.3em;
    }
    .write-message .message-types .message-type a.message-option.selected {
        background:#a93e2e;
        color:#fff;
        text-shadow: 0 1px 0 #888;
    }
    .write-message .message-types .message-type a.message-option img {
        margin:3px auto;
    }
    .write-message .message-types .message-type a.message-option:hover img.icon-local {
        background-position: -64px -64px;
    }
    .write-message .message-types .message-type a.message-option.selected img.icon-local {
        background-position: -64px 0;
    } 
    .write-message .message-types .message-type a.message-option:hover img.icon-global {
        background-position: -96px -64px;
    }
    .write-message .message-types .message-type a.message-option.selected img.icon-global {
        background-position: -96px 0;
    }
    .write-message .message-types .message-type a.message-option:hover img.icon-friends{
        background-position: -32px -64px;
    }
    .write-message .message-types .message-type a.message-option.selected img.icon-friends {
        background-position: -32px 0;
    }
    .write-message .message-types .message-type a.message-option span {
        display:block;
        font-size:0.65em;
        line-height:1.1em;
        color:#999;
        text-align:center;
    }
    .write-message .message-types .message-type a.message-option.selected span {
        color:#fff;
        text-shadow: 0 1px 0 #888;
    }
    .write-message .submit-btn {
        margin-top:15px;
    }

/* =========
    Members
   ========= */

.members .member {
    padding:10px 0 15px;
    border-bottom:dashed 1px #ccc;
    color:#222;
}
.members .member:last-child {
    border-bottom:none;
}
.members .member-left {
    float:left;
    width:22%;
}
    .members .member-left .picture {
        position:relative;
        float:right;
        margin-top:5px;
        margin-right:20%;
    }
.members .member-right {
    position:relative;
    float:right;
    width:78%;
}
    .members .member-right .member-author,
    .members .member-right .member-body {
        line-height:1.2em;
        padding-bottom:0.3em;
    }
    .members .member-right .member-author span {
        font-style:italic;
        font-size:0.9em;
        color:#999;
    }
    .members .member-right .member-author a {
        text-decoration:none;
    }
    .members .member-right .member-body a {
        font-weight:normal;
        color:#666;
        font-size:0.9em;
        text-decoration:none;
    }
    .members .member-right .member-tools {}
        .members .member-right .member-tools img.icon-addtofriend {
            background-position:-128px -96px;
        }
        .members .member-right .member-tools a:hover img.icon-addtofriend {
            background-position:-128px -32px;
        }

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* ==============
    INTERMEDIATE
   ============== *
@media only screen and (min-width: 480px) {

    /* Menu *
    .title {
        float: left;
        margin-left:50px;
    }

}

/* ======
    WIDE
   ====== *
@media only screen and (min-width: 768px) {

    /* Main *
    .main article {
        float: left;
        width: 100%;
        /*width: 57%;*
    }

    /*.main aside {
        float: right;
        width: 28%;
    }*
}

/* ===============
    Maximal Width
   =============== *
@media only screen and (min-width: 1140px) {

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins *
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
