/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.3;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.description {
    font-size:0.9em;
    font-style:italic;
    color:#666;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Arial;
    min-width:304px; /* 64px * 5 icons */
}
.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* =====
    ALL
   ===== */

h2 {
    font-size:1.2em;
    color:#a93e2e;
    text-align:center;
}
a:link, a:visited, a:hover, a:active { outline:none; }
a {
    color:#2e71a4;
}

.header-container {
    position:relative;
}
.footer-container {
    min-width:304px; /* 64px * 5 icons */
}

.header-container,
.footer-container {
    background: #add8c7;
}
body.members .header-container,
body.members .footer-container {
    background: #b9e2f8;
}
body.edit-mode .header-container,
body.edit-mode .footer-container {
    background: #df9397;
}

.title,
.title a {
    color: white;
    text-decoration:none;
}
.title {
    width:115px;
    height:48px;
    margin:0 auto;
    text-align:center;
}
.title img {
    display:block;
    padding-top:4px;
}

/*
.icon {
    display:block;
    width:32px;
    height:32px;
    background:transparent url(../img/icons.png) no-repeat;
}
.icon.icon-settings { background-position: 0 0; }
.icon.icon-settings:hover { background-position: 0 -32px; }
.icon.icon-write { background-position: -160px 0; }
.icon.icon-write:hover { background-position: -160px -32px; }
.icon.icon-local { background-position: -64px -32px; }
.icon.icon-local:hover,
a.active .icon.icon-local { background-position: -64px 0; }
.icon.icon-global { background-position: -96px -32px; }
.icon.icon-global:hover,
a.active .icon.icon-global { background-position: -96px 0; }
.icon.icon-friends { background-position: -32px -32px; }
.icon.icon-friends:hover,
a.active .icon.icon-friends { background-position: -32px 0; }
.icon.icon-members { background-position: -128px 0; }
.icon.icon-members:hover { background-position: -128px -32px; }
.icon.icon-cross { background-position: -288px 0; }
.icon.icon-cross:hover { background-position: -288px -32px; }

.icon.icon-addtofriend { background-position: -128px 0; }
.icon.icon-addtofriend:hover { background-position: -128px -32px; }
.icon.icon-pendingfriend { background-position: -128px -64px; }
.icon.icon-confirmfriend { background-position: -128px -64px; }
.icon.icon-confirmfriend:hover { background-position: -128px -32px; }
.icon.icon-friend { background-position: -32px -64px; }

.notifications {
    position:absolute;
    top:-8px;
    right:-10px;
    display:block;
    width:32px;
    height:32px;
    background:transparent url(../img/icons.png) no-repeat;
    background-position: -256px 0;
    font-size:0.7em;
    text-align:center;
    line-height:2.8em;
}

.button {
    position:relative;
    padding:4px 10px;
    color:#ffffff;
    opacity:0.75;
    font-size:0.8em;
    border:#d8f0fc;
    background:#a93e2e;
    text-decoration:none;
}
    .button:hover,
    .button:focus {
        opacity:1;
        text-decoration:none;
    }

/* Member Picture *
img.picture-edit,
.picture img {
    display:block;
    border:solid 5px #fff;
    border-radius:10px;
}

/* ======
    Menu
   ====== *

.header-container nav ul {
    margin: 0;
    padding: 0;
}

.header-container nav a {
    display: block;
    width:32px;
    height:32px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.header-container nav a:hover,
.header-container nav a:visited {
    color: white;
}

.header-container nav a:hover {
    text-decoration: none;
}
.header-container nav li.nav-profile,
.header-container nav li.nav-write {
    position:absolute;
    top:7px;
}
.header-container nav li.nav-profile { left:2%; }
.header-container nav li.nav-write { right:2%; }

.header-container .search-form {
    clear:both;
    width:100%;
    padding-bottom:3px;
    background:url(../img/search-bg.png) center top no-repeat;
}
    .header-container .search-form form {
        position:relative;
        width:248px;
        height:30px;
        margin:0 auto;
        padding-bottom:2px;
    }
    .header-container .search-form form .icon-cross {
        position:absolute;
        top:-2px;
        right:-5px;
        
    }
    .header-container .search-form form input[type="text"] {
        width:218px;
        height:28px;
        border:none;
        background:none;
        font-size:.9em;
        color:#999;
    }

/* ======
    Main
   ====== *

.main {
    padding: 10px 0 48px;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

/* ========
    Footer
   ======== *

.footer-container {
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    height:48px;
    background: #add8c7;
}
.footer-container footer {
    color: white;
}
.footer-container nav ul {
    margin: 0;
    padding: 0;
}
.footer-container nav ul li {
    float:left;
    width:64px;
    height:48px;
}
.footer-container nav ul li.nav-members { float:right; }
.footer-container nav a {
    display: block;
    width:64px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size:0.65em;
    line-height:1em;
    text-shadow:#999 0 1px 0;
}
.footer-container nav img,
.footer-container nav span {
    display:block;
    margin:0 auto;
    text-align:center;
}
.footer-container nav img {
    width:32px;
    height:32px;
    padding-top:2px;
}
.footer-container nav span {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size:0.65em;
    line-height:1em;
    text-shadow:#999 0 1px 0;
}
.footer-container nav a span {
    font-size:inherit;
    line-height:inherit;
    text-shadow:nonw;
}

/* ==========
    IE Fixes
   ========== *

.ie7 .title {
    padding-top: 20px;
}

/* ==============
    Registration
   ============== */


/* ===========
    Edit Mode
   =========== *

.form-card {
    color:#666;
    padding:15px;
    margin:0 auto;
    margin-bottom:15px;
    border:solid 1px #a93e2e;
    border-radius:5px;
    background:#fff;
}
    .form-card p,
    .form-card .form-locked-item {
        width:95%;
        margin-top:.5em;
        margin-left:auto;
        margin-right:auto;
        line-height:1.2em;
    }
    .form-card label {
        display:block;
        width:95%;
        padding:0 5px;
        margin:0 auto;
        margin-top:15px;
        color:#000;
        font-weight:bold;
        font-size:1em;
    }
    .form-card input[type="text"],
    .form-card input[type="password"],
    .form-card textarea {
        display:block;
        width:95%;
        margin:0 auto;
        padding:5px;
        border:solid 1px #a93e2e;
        background:#fefce7;
        border-radius:5px;
    }
    .form-card ul.form-links {
        text-align:center;
        margin:10px 0;
        padding:0;
    }
        .form-card ul.form-links li {
            display:inline;
            margin:0;
        }
        .form-card ul.form-links li a.button {
            text-decoration:none;
        }
        .form-card ul.form-links input[type="submit"] {
            
        }
    .form-card .picture,
    .form-card #picture_change {
        width:95%;
        margin:0 auto;
    }
        .form-card #picture_change {
            margin-bottom:7px;
        }
        .form-card .clear-picture {
            display:inline;
            padding:7px 10px;
            margin-left:2.5%;
        }
        .form-card .clear-picture label {
            display:inline;
            color:#fff;
        }

#form-errors {
    width:90%;
    color:#fff;
    margin:0 auto;
    padding:10px;
    border-radius:5px;
    background:#e33c2f;
}
#form-errors * {
    margin:0;
    padding:0;
}

body.edit-mode {
    background:#f5f0ec;
}

/* Button *
.edit-mode ul.big-buttons {
    margin:0;
    padding:0;
}
    .edit-mode ul.big-buttons li {
        margin:0;
        padding:5px 0;
        list-style-type:none;
    }
    .edit-mode ul.big-buttons a {
        display:block;
        position:relative;
        height:32px;
        padding:5px 10px;
        border:solid 1px #a93e2e;
        text-decoration:none;
        color:#222;
        line-height:32px;
        border-radius:5px;
        background:#fff;
    }
    .edit-mode ul.big-buttons a.selected {
        background:#f2f2f2;
        font-weight:bold;
    }
    .edit-mode ul.big-buttons a:hover {
        background:#f2f2f2;
    }
    .edit-mode ul.big-buttons a span {
        position:absolute;
        top:5px;
        right:10px;
        background-position: -320px 0;
    }
    .edit-mode ul.big-buttons a:hover span {
        background-position: -320px -64px;
    }

.form-card ul.big-buttons.select {
    width:95%;
    margin:0 auto;
}
    .form-card ul.big-buttons.select li {
        float:left;
        margin-right:10px;
    }
    .form-card ul.big-buttons.select li:last-child {
        margin-right:0;
    }
    .form-card ul.big-buttons.select li a {
        background:#f2f2f2;
        color:#666;
    }
    .form-card ul.big-buttons.select li a.selected {
        color:#222222;
        background:#fefce7;
    }

    


/* ===============
    Activity Feed
   =============== *

.message {
    padding:10px 0 15px;
    border-bottom:dashed 1px #ccc;
}
.message:last-child {
    border-bottom:none;
}
    .message a {
        color:#a93e2e;
        font-weight:bold;
        text-decoration:none;
    }

.message-left {
    float:left;
    width:22%;
}
    .message-left .picture {
        float:right;
        margin-right:10%;
    }
    .message-left .picture img {
        border-radius:10px;
    }

.message-right {
    position:relative;
    float:right;
    width:78%;
}
    .message-right .message-author span {
        color:#999;
        font-style:italic
    }
    .message-right .message-body {
        line-height:1.3em;
        padding-bottom:5px;
    }
    .message-right .message-tools {
        padding:3px 0;
        padding-right:3%;
    }
        .message-right .message-tools a.message-replies-count {
            position:relative;
            color:#000;
            font-size:0.65em;
            text-shadow:#fff 0 1px 0;
            text-align:center;
            display:block;
            float:right;
            width:19px;
            height:18px;
            background:url(../img/icon-comment.png) no-repeat;
        }
        .message-right .message-tools a.message-replies-count span {
            position:relative;
            top:-6px;
        }
        .message-right .message-replies {}
        .message-right .message-replies .message-reply {
            padding:9px 0;
            border-top:dotted 1px #ccc;
        }
            .message-right .message-replies .message-reply .picture {
                float:left;
                margin-top:-2px;
                margin-left:-5px;
                margin-right:5px;
            }
            .message-right .message-replies .message-reply .message-reply-author {
                float:left;
                line-height:1.3em;
                margin-right:10px;
            }
            .message-right .message-replies .message-reply .message-reply-body {
                line-height:1.3em;
            }
    .message-right .message-reply-form {}
        .message-right textarea.message-body {
            float:right;
            width:97%;
            color:#666;
            padding:2px;
            border:none;
            border:solid 1px #a93e2e;
            border-radius:5px;
            background:#fefce7;
            margin-right:3%;
            opacity:0.75;
        }
        .message-right textarea.message-body:focus {
            opacity:1;
        }
        .message-right .message-button {
            float:right;
            margin-top:5px;
            margin-right:3%;
        }

/* ================
    Member Profile
   ================ *

.profile {
    line-height:1.3em;
}
.profile.picture {
    height:48px;
}
.profile.picture img {
    margin:0 auto;
    box-shadow:#999 0 1px 0;
}
.profile h3 {
    margin:1em 0 0.3em;
}
.profile p {
    margin:0.3em 0 0.7em;
}
.profile a {
    color:#a93e2e;
    font-weight:bold;
    text-decoration:none;
}
.profile .about {
    padding:10px 0;
    border-top:dashed 1px #ccc;
    border-bottom:dashed 1px #ccc;
}
.profile textarea.message-body {
    display:block;
    width:95%;
    color:#666;
    padding:5px;
    margin:0 auto;
    border:solid 1px #a93e2e;
    border-radius:5px;
    background:#fefce7;
    opacity:0.75;
}
    .profile textarea.message-body:focus {
        opacity:1;
    }
    .profile .message-button {
        display:block;
        margin:10px auto;
    }


/* ===============
    Write Message
   =============== *

.write-message h2 a {
    color:#666;
    opacity:0.7;
    text-decoration:none;
}
.write-message h2 a:hover {
    opacity:1;
}
.write-message textarea.message-body {
    display:block;
    width:95%;
    color:#666;
    padding:5px;
    margin:0 auto;
    border:solid 1px #a93e2e;
    background:#fefce7;
    border-radius:5px;
}
    .write-message .message-button {
        display:block;
        margin:10px auto 0;
    }
.write-message .message-types {
    width:95%;
    padding:5px;
    margin:10px auto 0;
}
    .write-message .message-types .message-type {
        float:left;
        width:30%;
        margin-right:5%;
    }
    .write-message .message-types .message-type:last-child {
        margin-right:0;
    }
    .write-message .message-types .message-type a.message-option {
        display:block;
        height:120px;
        padding:5px;
        border:solid 1px #a93e2e;
        text-decoration:none;
        color:#666;
        border-radius:5px;
    }
    .write-message .message-types .message-type a.message-option.selected {
        background:#f2f2f2;
    }
    .write-message .message-types .message-type a.message-option img {
        margin:5px auto;
    }
    .write-message .message-types .message-type a.message-option:hover img.icon-local,
    .write-message .message-types .message-type a.message-option.selected img.icon-local {
        background-position: -64px -64px;
    } 
    .write-message .message-types .message-type a.message-option:hover img.icon-global,
    .write-message .message-types .message-type a.message-option.selected img.icon-global {
        background-position: -96px -64px;
    }
    .write-message .message-types .message-type a.message-option:hover img.icon-friends,
    .write-message .message-types .message-type a.message-option.selected img.icon-friends {
        background-position: -32px -64px;
    }
    .write-message .message-types .message-type a.message-option p {
        padding:0;
        margin:0;
        text-align:center;
        font-size:0.9em;

    }
    .write-message .message-types .message-type .message-option span {
        display:block;
        font-size:0.65em;
        line-height:1.1em;
        color:#999;
        text-align:center;
    }

/* =========
    Members
   ========= *

.members .message-author span {
    font-style:normal;
    font-size:0.9em;
}
.members .message-body a {
    font-weight:normal;
    color:#666;
    font-size:0.9em;
}
.members .message-tools {
    width:32px;
    float:right;
}
    .members .message-tools img.icon-addtofriend {
        background-position:-128px -96px;
    }
    .members .message-tools a:hover img.icon-addtofriend {
        background-position:-128px -32px;
    }









/* ==========================================================================
   Media Queries
   ========================================================================== */

/* ==============
    INTERMEDIATE
   ============== */
@media only screen and (min-width: 480px) {

    /* Menu */
    .title {
        float: left;
        margin-left:50px;
    }
    .header-container nav li.nav-profile { left:10px; }
    .header-container nav li.nav-write { right:10px; }

    /* IE Fixes */
    .header-container nav ul li {
        display: inline;
    }

    /*.oldie nav a {
        margin: 0 0.7%;
    }*/
}

/* ======
    WIDE
   ====== */
@media only screen and (min-width: 768px) {

    /* CSS3 Effects */
    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }
    .footer-container {
        -webkit-box-shadow: 0 -5px 10px #aaa;
           -moz-box-shadow: 0 -5px 10px #aaa;
                box-shadow: 0 -5px 10px #aaa;
    }

    /* Main */
    .main article {
        float: left;
        width: 100%;
        /*width: 57%;*/
    }

    /*.main aside {
        float: right;
        width: 28%;
    }*/
}

/* ===============
    Maximal Width
   =============== */
@media only screen and (min-width: 1140px) {

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
