{% extends "base.html" %}
{% load i18n static %}

{% block title %}Sign Up to Mumlife{% endblock %}

{% block bodyclass %}anon register{% endblock %}

{% block content %}
<div class="intro">
    <a href="/"><img src="{{ STATIC_URL }}img/logo-bigger.png" width="150" height="55" alt="Mumlife" /></a>
    <p class="description"><strong>Activation Error</strong></p>
    <p class="description">The token "<em>{{ activation_key }}</em>" is invalid.</p>
</div>
{% include "tags/footer.html" %}
{% endblock %}
