{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block bodyclass %}anon register{% endblock %}

{% block content %}
<div class="intro">
    <a href="/"><img src="{{ STATIC_URL }}img/logo-bigger.png" width="150" height="55" alt="Mumlife" /></a>
    <p class="description"><strong>Reset password</strong></p>
    <p class="description">Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>
</div>

<div class="login-box">
    <form class="form-card" action="" method="post">
        {% csrf_token %}
        {% if form.errors.email %}
        <div id="form-errors">
            <p>E-mail address empty or invalid.</p>
        </div>
        {% endif %}
        <div class="form-field"><label for="id_email">{% trans 'E-mail:' %}</label>{{ form.email }}</div>

        <div class="ui-grid-solo">
            <input type="submit" value="{% trans 'Reset my password' %}" class="button" data-icon="check" />
        </div>
    </form>
</div>
{% include "tags/footer.html" %}
{% endblock %}

{% block extrajs %}{{ super }}
<script type="text/javascript">
    $(document).on('ml.Ready', function () {
        if ($('#form-errors').size() > 0) {
            $('#form-errors').bind('click', function () {
                $(this).hide(function () {
                    $('#id_email').focus();
                });
            });
            setTimeout(function () {
                $('#form-errors').fadeOut(function () {
                    $('#id_email').focus();
                });
            }, 2000);
        } else {
            $('#id_email').focus();
        }
    });
</script>
{% endblock %}
