<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/Hl3osDsDgrXWdjJCdvPwng.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<div class="legal-footer">
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="full" data-uv-primary-color="#64b0b3" data-uv-link-color="#a93e2e" data-uv-default-mode="support" data-uv-forum-id="240962">Feedback &amp; Support</a></li>
        <li class="inline"><a href="/terms">Terms of Use</a></li>
        <li class="inline"><a href="/privacy">Privacy policy</a></li>
        <li class="inline"><a href="/cookies">Cookies</a></li>
        <li class="last"><em>Powered by Beatscope Engineering</em><br/>&copy; 2008-{% now "Y" %} <a href="http://beatscope.co.uk/" target="_blank">Beatscope Limited</a></li>
    </ul>
    <a style="display:block;text-align:right;margin:5px;" href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
</div>
