<div class="message no-results clearfix">
    <div class="message-left">
        <div class="message-picture">
            <img class="avatar"
                 src="{{ STATIC_URL }}img/picture-default.png"
                 alt="No results" width="48" height="48" />
        </div>
    </div>
    <div class="message-right">
        <div class="message-author">
            <p><span class="bold">Oops! It's lonely in here.</span></p>
            <p>You can speak to your friends here more privately. 
               Organising a #tea-party and would like to invite them in..? Want to set up a #playdate..?</p>
        </div>
    </div>
</div>
