<div class="message clearfix">
    <div class="message-left">
        {% if member.is_admin %}
            <div class="message-picture">
                <a href="/message/{{ id }}/">
                    <img class="avatar"
                         src="{% if member.picture %}{{ member.picture }}{% else %}{{ STATIC_URL }}img/picture-default.png{% endif %}"
                         alt="{{ member.name }}" width="48" height="48" />
                </a>
            </div>
        {% elif recipient and member.id == account.id %}
            <div class="message-picture">
                <a href="/profile/{{ recipient.slug }}">
                    <img class="avatar"
                         src="{% if recipient.picture %}{{ recipient.picture }}{% else %}{{ STATIC_URL }}img/picture-default.png{% endif %}"
                         alt="{{ recipient.name }}" width="48" height="48" />
                </a>
            </div>
        {% else %}
            <div class="message-picture">
                <a href="/profile/{{ member.slug }}">
                    <img class="avatar"
                         src="{% if member.picture %}{{ member.picture }}{% else %}{{ STATIC_URL }}img/picture-default.png{% endif %}"
                         alt="{{ member.name }}" width="48" height="48" />
                </a>
            </div>
        {% endif %}
    </div>
    <div class="message-right">
        <div class="message-author">
            {% if member.is_admin %}
                <a href="/message/{{ id }}/">{{ member.name }}</a>
            {% elif recipient and member.id == account.id %}
                <a href="/profile/{{ recipient.slug }}">{{ recipient.name }}</a>
            {% else %}
                <a href="/profile/{{ member.slug }}">{{ member.name }}</a>
            {% endif %}
        </div>
        <div class="message-area">{{ area }}</div>
    </div>
    <div class="message-content clearfix">
        <div class="message-body">
            <a href="/message/{{ id }}/" class="message-body-link">
                {{ body|safe|truncatewords_html:20 }}
                {% for tag in tags_item %}<span>{{ tag.value }}</span> {% endfor %}
            </a>
        </div>
        {% if picture %}<div class="message-image"><a href="/message/{{ id }}/">
            <img src="{{ picture }}" alt="" width="auto" height="auto" />
        </a></div>{% endif %}
        <a href="/message/{{ id }}/" class="message-tools clearfix">
            <span class="message-replies">
                {% if replies %}
                    <span class="message-replies-count">{{ replies|length }}</span>
                    <span class="icon icon-comment"></span>
                {% else %}
                    <span class="message-replies-first">Comment</span>
                {% endif %}
            </span>
            <span class="bullet">&#8226;</span>
            <span class="message-age" title="{{ timestamp }}">{{ age }}</span>
        </a>
    </div>
</div>
