{% extends "base.html" %}

{% block heading %}
{% spaceless %}
<h1 data-role="filter-name">Activity Feed</h1>
{% if search %}<h2>{{ search }}</h2>{% endif %}
{% endspaceless %}
{% endblock %}

{% block header %}
<div class="search-form" data-entity="search-form">
    <form method="post" action="/local/">
        {% csrf_token %}
        <input type="text" data-clear-btn="true" name="terms" placeholder="Search for #topics" value="{% if search %}{{ search }}{% else %}{% endif %}" />
    </form>
</div>
{% endblock %}

{% block content %}
    <div class="feed">
        <button data-icon="plus">More</button>
    </div>
{% endblock %}

{% block footermenu %}
{% spaceless %}
<li class="nav-local">
    <a class="icon-link" href="#" title="Local" data-entity="filter" rel="@local">
        <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-local" alt="Local" />
    </a>
</li>
<li class="nav-friends">
    <a class="icon-link" href="#" title="Friends" data-entity="filter" rel="@friends">
        <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-friends" alt="Friends" />
    </a>
</li>
<li class="nav-search">
    <a class="icon-link" href="" data-entity="search" title="Search">
        <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-search" alt="Search" />
    </a>
</li>
{% endspaceless %}
{% endblock %}

{% block extrajs %}{{ block.super }}
<script type="text/javascript">
    $(document).on('ml.Ready', function () {
        new ML.Feed({'data': {{ data|safe }}, 'account': {{ account.id }}, 'autoscroll': true});
    });
    mixpanel.track('Local Page Loaded');
</script>
{% endblock %}
