{% extends "base.html" %}

{% block bodyclass %}members{% endblock %}

{% block heading %}
{% spaceless %}
<h1>Members</h1>
{% if search %}<h2>{{ search }}</h2>{% endif %}
{% endspaceless %}
{% endblock %}

{% block header %}
<div class="search-form" data-entity="search-form">
    <form method="post" action="/members/">
        {% csrf_token %}
        <input type="text" data-clear-btn="true" name="terms" placeholder="search #interests" value="{% if tagstring %}{{ tagstring }}{% endif %}" />
    </form>
</div>
{% endblock %}

{% block content %}
<div class="feed members">
    <button data-icon="plus">More</button>
</div>
{% endblock %}

{% block footermenu %}
{% spaceless %}
<li class="nav-search">
    <a class="icon-link" href="" data-entity="search" title="Search">
        <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-search" alt="Search" />
    </a>
</li>
{% endspaceless %}
{% endblock %}

{% block extrajs %}{{ block.super }}
<script type="text/javascript">
    $(document).on('ml.Ready', function () {
        new ML.Members({'data': {{ data|safe }}, 'account': {{ account.id }}, 'autoscroll': true});
    });
    mixpanel.track('Members Page Loaded');
</script>
{% endblock %}
