{% extends "base.html" %}
{% comment %}

    Message/Event

{% endcomment %}

{% block extrahead %}
{% if result.postcode %}
<script type="text/javascript" src="https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&s=1"></script>
{% endif %}
{% endblock %}

{% block bodyclass %}fullmessage{% endblock %}

{% block post_link %}{% if result.eventdate %}post-event{% else %}post{% endif %}{% endblock %}

{% block content %}

<div class="ui-content" id="errors"
     data-role="popup"
     data-transition="pop"
     data-position-to="window"
     data-dismissible="false"
     data-theme="a"
     data-overlay-theme="a">
    <a class="ui-btn-left" href="#" data-role="button" data-iconpos="notext" data-icon="delete" data-rel="back" data-theme="a">Close</a>
    <div id="errors-content"></div>
</div>

{% if result.eventdate  %}
<div class="message-event-data box">

    <h2>{{ result.name }}</h2>
    <div class="message-event-details">
        <div class="message-event-start">Starts {{ result.eventtime }}</div>
        {% if result.eventenddate %}
            <div class="message-event-ends">Ends 
                {{ result.eventendtime }}{% if result.eventenddate != result.eventdate %}, {{ result.eventenddate }}{% endif %}
            </div>
        {% endif %}
        <div class="message-event-info">
            <div>{{ result.location }}{% if result.distance and result.distance_display != 'N/A' %}
                <span>({{ result.distance_display }})</span>
            {% endif %}</div>
        </div>
    </div>

    {% if result.postcode %}
    <div class="message-map">
        <div id="map"></div>
        <script type="text/javascript">
            $(document).on('ml.Ready', function () {
                var key = 'AmXCuMvaJGPW0JXSQmcO4e5hKauvjs_TztK0DGcinHK6mFaVAq5lm3OzHkAPnpyE';
                var map = null;
                var postcode = '{{ result.postcode }}';

                function getMap () {
                    // Initialize the map
                    map = new Microsoft.Maps.Map(document.getElementById("map"), {
                        credentials: key, 
                        mapTypeId: Microsoft.Maps.MapTypeId.road,
                        disableZooming: true
                    });
                    var geocodeRequest = "//dev.virtualearth.net/REST/v1/Locations?query="
                                       + encodeURI(postcode) + "&output=json&jsonp=GeocodeCallback&key=" + key;
                    CallRestService(geocodeRequest);
                }

                function CallRestService(request) {
                    var script = document.createElement("script");
                    script.setAttribute("type", "text/javascript");
                    script.setAttribute("src", request);
                    document.body.appendChild(script);
                }

                function GeocodeCallback(result) {
                    //console.log("Found location: " + result.resourceSets[0].resources[0].name);
                    if (result &&
                        result.resourceSets &&
                        result.resourceSets.length > 0 &&
                        result.resourceSets[0].resources &&
                        result.resourceSets[0].resources.length > 0)
                    {
                        // Set the map view using the returned bounding box
                        var bbox = result.resourceSets[0].resources[0].bbox;
                        var viewBoundaries = Microsoft.Maps.LocationRect.fromLocations(
                            new Microsoft.Maps.Location(bbox[0], bbox[1]), 
                            new Microsoft.Maps.Location(bbox[2], bbox[3])
                        );
                        map.setView({ bounds: viewBoundaries});

                        // Add a pushpin at the found location
                        var location = new Microsoft.Maps.Location(
                            result.resourceSets[0].resources[0].point.coordinates[0],
                            result.resourceSets[0].resources[0].point.coordinates[1]
                        );
                        var pushpin = new Microsoft.Maps.Pushpin(location);
                        map.entities.push(pushpin);
                    }
                }
                window.GeocodeCallback = GeocodeCallback;

                getMap();
            });
        </script>
    </div>
    {% endif %}

</div>
{% endif %}

<div class="message message-full {% if result.eventdate  %}message-event{% endif %}">

    <div class="message-left">
        {% if result.member.is_admin %}
            <div class="message-picture">
                <img class="avatar"
                     src="{% if result.member.picture %}{{ result.member.picture }}{% else %}{{ STATIC_URL }}img/picture-default.png{% endif %}"
                     alt="{{ result.member.name }}" width="48" height="48" />
            </div>
        {% elif result.recipient and result.member.id == account.id %}
            <div class="message-picture">
                <a href="/profile/{{ result.recipient.slug }}">
                    <img class="avatar"
                         src="{% if result.recipient.picture %}{{ result.recipient.picture }}{% else %}{{ STATIC_URL }}img/picture-default.png{% endif %}"
                         alt="{{ result.recipient.name }}" width="48" height="48" />
                </a>
            </div>
        {% else %}
            <div class="message-picture">
                <a href="/profile/{{ result.member.slug }}">
                    <img class="avatar"
                         src="{% if result.member.picture %}{{ result.member.picture }}{% else %}{{ STATIC_URL }}img/picture-default.png{% endif %}"
                         alt="{{ result.member.name }}" width="48" height="48" />
                </a>
            </div>
        {% endif %}
    </div>

    <div class="message-right">
        <div class="message-author">
            {% if result.member.is_admin %}
                {{ result.member.name }}</a>
            {% elif result.recipient and resuolt.member.id == account.id %}
                <a href="/profile/{{ result.recipient.slug }}">{{ result.recipient.name }}</a>
            {% else %}
                <a href="/profile/{{ result.member.slug }}">{{ result.member.name }}</a>
            {% endif %}
        </div>
        {% if not result.member.is_admin %}
        <div class="message-area">{{ result.area }}</div>
        {% endif %}
    </div>

    <div class="message-content clearfix">
        <div class="message-body">
            {{ result.body_with_links|safe|linebreaks }}
            <div class="message-tags">{% for tag in result.tags_item %}<a href="/local/%23{{ tag.key }}">{{ tag.value }}</a> {% endfor %}</div>
        </div>
        {% if result.picture %}<div class="message-image">
            <img class="fullonclick" src="{{ result.picture }}" alt="" width="auto" height="auto" />
        </div>{% endif %}
        <div class="message-tools clearfix">
            <span class="message-age" title="{{ result.timestamp }}">{{ result.age }}</span>
        </div>
    </div>

</div>

<div data-entity="replies" data-rel="message-{{ result.id }}" class="message-comments box">
    {% for reply in result.replies %}
    <div class="message-reply clearfix">
        <div class="message-left">
            {% if reply.member.is_admin %}
                <div class="message-picture">
                    <img class="avatar"
                         src="{% if reply.member.picture %}{{ reply.member.picture }}{% else %}{{ STATIC_URL }}img/picture-default.png{% endif %}"
                         alt="{{ reply.member.name }}" width="48" height="48" />
                </div>
            {% else %}
                <div class="message-picture">
                    <a href="/profile/{{ reply.member.slug }}">
                        <img class="avatar"
                             src="{% if reply.member.picture %}{{ reply.member.picture }}{% else %}{{ STATIC_URL }}img/picture-default.png{% endif %}"
                             alt="{{ reply.member.name }}" width="48" height="48" />
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="message-right">
            <div class="message-author">
                {% if reply.member.is_admin %}
                    <span class="bold">{{ reply.member.name }}</span>
                {% else %}
                    <a href="/profile/{{ reply.member.slug }}">{{ reply.member.name }}</a>
                {% endif %}
            </div>
            <div class="message-body">
                {{ reply.body|safe|linebreaks }}
            </div>
        </div>
    </div>
    {% endfor %}

    <div data-entity="message" data-mid="{{ result.id }}" data-type="reply" class="message-reply-form">
        <textarea class="message-body elastic"
                  name="Reply message"
                  data-name="A message"
                  data-entity="text"
                  data-mid="{{ result.id }}" rows="1" cols="70" placeholder="Write a comment" required="required"></textarea>
        <button class="message-button button" data-entity="button" data-mid="{{ result.id }}">Post</button>
    </div>
</div>
{% endblock %}

{% block footermenu %}
{% spaceless %}
    <li>
        <a class="icon-link" href="{{ back }}" title="Back">
            <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-back" alt="Back" />
        </a>
    </li>
    {% if account.id == result.member.id and result.eventdate %}
    <li>
        <a class="icon-link" href="/edit-event/{{ result.id }}" title="Edit">
            <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-edit" alt="Edit" />
        </a>
    </li>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block extrajs %}{{ block.super }}
<script type="text/javascript">
    $(document).on('ml.Ready', function () {
        new ML.Messages();
    });
</script>
{% endblock %}
