{% extends "base.html" %}

{% block bodyclass %}edit-mode{% endblock %}

{% block heading %}<h1>Edit profile</h1>{% endblock %}

{% block content %}
    <section>
        <a href="/profile/edit/account" data-role="button" data-icon="arrow-r" data-iconpos="right">Account settings</a>
        <a href="/profile/edit/kids" data-role="button" data-icon="arrow-r" data-iconpos="right">My kids</a>
        <a href="/profile/edit/interests" data-role="button" data-icon="arrow-r" data-iconpos="right">My interests</a>
        <a href="/profile/edit/friends" data-role="button" data-icon="arrow-r" data-iconpos="right">My friends</a>
        <a href="/profile/edit/preferences" data-role="button" data-icon="arrow-r" data-iconpos="right">Preferences</a>
        <a href="/logout" data-role="button" data-icon="delete" data-iconpos="left">Logout</a>
    </section>
    <footer>{% include "tags/footer.html" %}</footer>
{% endblock %}

{% block footermenu %}
{% spaceless %}
<li>
    <a class="icon-link" href="/profile" title="Back">
        <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-profile" alt="Back" />
    </a>
</li>
{% endspaceless %}
{% endblock %}
