{% extends "base.html" %}

{% block bodyclass %}profile{% endblock %}

{% block content %}
<div class="member-profile">
    <div class="ui-content" id="errors"
         data-role="popup"
         data-transition="pop"
         data-position-to="window"
         data-dismissible="false"
         data-theme="a"
         data-overlay-theme="a">
        <a class="ui-btn-left" href="#" data-role="button" data-iconpos="notext" data-icon="delete" data-rel="back" data-theme="a">Close</a>
        <div id="errors-content"></div>
    </div>

    <div class="header-pic"><img class="avatar"
         src="{% if member.picture %}{{ member.picture }}{% else %}{{ STATIC_URL }}img/picture-default.png{% endif %}"
         alt="{{ member.name }}" width="150" height="150" /></div>

    <h2>{% if member.gender %}{{ member.gender }} {% endif %}{{ member.name }}</h2>

    <div data-entity="message" data-type="private-message" data-recipient="{{ member.id }}" class="hidden">
        <textarea data-name="A message" class="message-body elastic" rows="2" cols="70" required="required"></textarea>
        <button data-entity="button" class="button message-button">Post</button>
    </div>

    <h2>{{ member.area }}</h2>
    {% if member.id != account.id and member.distance and member.distance_display != 'N/A' %}
    <div class="distance">{{ member.distance_display }}</div>
    {% endif %}

    <div class="member-details">

        {% if member.about %}<div class="about">{{ member.about|linebreaks }}</div>{% endif %}

        {% if member.tags %}
        <p class="interests">I enjoy {% for tag in member.tags %}<a href="/members/%23{{ tag.key }}">{{ tag.value }}</a> {% endfor %}</p>
        {% endif %}

        {% if member.kids|length %}
            <div class="kids">{% for kid in member.kids %}
                <div class="kid {{ kid.gender|lower }}">
                    {{ kid.gender }} {{ kid.name }}
                    <div class="kid-age">{{ kid.age }}</div>
                </div>
            {% endfor %}</div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block footermenu %}
{% spaceless %}
{% if member.id == account.id %}
<li>
    <a class="icon-link" href="/profile/edit" title="Edit profile">
        <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-settings" alt="Edit profile" />
    </a>
</li>
{% else %}

{% comment %}Add to Friend{% endcomment %}
{% if not member.friend_status %}
<li>
    <a class="icon-link addtofriend" href="#{{ account.id }},{{ member.id }}">
        <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-addtofriend" alt="Add to friend" />
    </a>
</li>
{% elif member.friend_status and member.friend_status == 'Requesting' %}
<li>
    <a class="icon-link addtofriend" href="#{{ account.id }},{{ member.id }}" rel="confirm">
        <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-addtofriend" alt="Approve" />
    </a>
</li>
{% elif member.friend_status and member.friend_status == 'Approved' %}
<li>
    <span>
        <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-friend disabled" alt="Friends" />
    </span>
</li>
{% endif %}

{% comment %}Write a Private Message{% endcomment %}
<li>
    <a class="icon-link" href="#" data-entity="message" title="Post private message">
        <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-post" alt="Post private message" />
    </a>
</li>
{% endif %}
{% endspaceless %}
{% endblock %}

{% block extrajs %}{{ block.super }}
<script type="text/javascript">
    $(document).on('ml.Ready', function () {
        new ML.AddToFriends({'class': 'addtofriend'});
        new ML.Messages();
    });
    mixpanel.track('Profile Page Loaded', {
        'Profile ID': '{{ member.id }}'
    });
</script>
{% endblock %}
