{% extends "base.html" %}
{% comment %}

    Create/ Edit Event

{% endcomment %}

{% block heading %}<h1>{% if edit_mode %}Edit Event{% else %}Create Event{% endif %}</h1>{% endblock %}
{% block extrahead %}
<script type="text/javascript">
    $(document).bind("mobileinit", function () {
        $.mobile.ajaxEnabled = false;
        $.mobile.linkBindingEnabled = false;
    });
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mobile-1.3.2.min.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link type="text/css" href="{{ STATIC_URL }}css/jquery.ui.datepicker.css" rel="stylesheet" />
{% endblock %}

{% block post_link %}post-event{% endblock %}

{% block content %}
<div class="write-message">
    <div data-entity="message" data-type="message">

        {% if edit_mode %}
            <a data-role="button"
               data-icon="arrow-l"
               data-iconpos="left"
               href="{{ SITE_URL }}message/{{ event_id }}">Back</a>
        {% else %}
            <a data-role="button" data-icon="arrow-l" data-iconpos="left" href="{{ SITE_URL }}write">Back</a>
        {% endif %}

        <div class="box">
            <div class="form-card">
                <div class="ui-content" id="errors"
                     data-role="popup"
                     data-transition="pop"
                     data-position-to="window"
                     data-dismissible="false"
                     data-theme="a"
                     data-overlay-theme="a">
                    <a class="ui-btn-left" href="#" data-role="button" data-iconpos="notext" data-icon="delete" data-rel="back" data-theme="a">Close</a>
                    <div id="errors-content"></div>
                </div>

                <label>Event Name <span class="required">*</span></label>
                {{ form.name }}


                <legend>Event Date <span class="required">*</span></legend>
                <input type="date" name="eventdate" data-name="Event starts" class="message-date"
                       value="{{ form.eventdate.value|date:"Y-m-d" }}"
                       placeholder="{% now "Y-m-d" %}"
                       required="required">

                <fieldset class="edit-eventdate">
                    <div class="ui-grid-a">
                        <div class="ui-block-a">
                            <label>Starts</label>
                            <input type="date" class="message-time" value="{{ form.eventdate.value|date:"H:i" }}"
                                   placeholder="{% now "H:i" %}">
                        </div>
                        <div class="ui-block-b">
                            <label>Ends</label>
                            <input type="date" class="message-endtime" value="{{ form.eventenddate.value|date:"H:i" }}"
                                   placeholder="{% now "H:i" %}">
                        </div>
                    </div>
                </fieldset>

                <fieldset data-role="controlgroup" data-entity="occurrence" data-type="horizontal">
                    <legend>Occurs <span class="required">*</span></legend>
                    {% for option in form.occurrence.field.choices %}
                    <input data-name="Occurence" name="occurrence"
                           id="id_occurrence-{{ option.0 }}" 
                           {% if form.occurrence.value == option.0 %}checked="checked"{% endif %}
                           value="{{ option.0 }}" type="radio">
                    <label for="id_occurrence-{{ option.0 }}">{{ option.1 }}</label>
                    {% endfor %}
                </fieldset>

                <div data-entity="occurrence-until" class="hidden">
                    <label class="optional">Occurs Until</label>
                    <input type="date" name="eventenddate" value="{{ form.occurs_until.value|date:"Y-m-d" }}"
                           placeholder="{% now "Y-m-d" %}">
                </div>

                <label>Address &amp; Postcode <span class="required">*</span></label>
                {{ form.location }}
                <p class="description">The event location. <strong>Please include a valid postcode</strong>, so that we can place the event on a map.</p>
                <p class="description">Events with invalid postcodes will not show in the events calendar.</p>

                <label>Event Description <span class="required">*</span></label>
                <textarea 
                    data-name="Event Description" 
                    class="message-body elastic" 
                    rows="2" cols="70" required="required">{% if form.body.value %}{{ form.body.value }}{% endif %}</textarea>

                {% comment %}<label>Event Visibility</label>{{ form.visibility }}{% endcomment %}
            </div>

            {% comment %}
            All events are considered @global for now, so no need for the visibility select.
            <div class="form-visibility">
                {{ form.visibility }}
                <div class="message-types clearfix">
                    {% for option in form.visibility.field.choices %}<div class="message-type">
                        <a href="#" data-entity="message-type" class="message-option" data-type="{{ option.0 }}">
                            <p>{{ option.1 }}</p>
                            {% if option.1 == 'Friends' %}
                            <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-friends" alt="" />
                            <span>Only your friends will see this message</span>
                            {% elif option.1 == 'Global' %}
                            <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-global" alt="" />
                            <span>Everyone on Mumlife will see this message</span>
                            {% else %}
                            <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-local" alt="" />
                            <span>Everyone in your local area will see this message</span>
                            {% endif %}
                        </a>
                    </div>{% endfor %}
                </div>
            </div>
            {% endcomment %}
            <div class="hidden">{{ form.visibility }}</div>

            <div class="submit-btn">
                <div data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-icon="check" data-theme="a" data-disabled="false"
                     class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-left ui-btn-up-a" aria-disabled="false">
                    <span class="ui-btn-inner">
                        <span class="ui-btn-text">Post</span>
                        <span class="ui-icon ui-icon-check ui-icon-shadow">&nbsp;</span>
                    </span>
                    <input data-entity="button" type="submit" data-icon="check" data-role="button" value="Post" class="ui-btn-hidden" data-disabled="false">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}{{ block.super }}
<script type="text/javascript">
    $(document).on('ml.Ready', function () {
        // Event Date Picker
        $('[name="eventdate"]').datepicker({
            dateFormat: "yy-mm-dd",
            minDate: "+1d",
            beforeShow: function() {
                setTimeout(function() {
                    $('.ui-datepicker').css('z-index', 99999999999999);
                }, 0);
            }
        });
        // Event End Date Picker
        $('[name="eventenddate"]').datepicker({
            dateFormat: "yy-mm-dd",
            minDate: "+2d",
            beforeShow: function() {
                setTimeout(function() {
                    $('.ui-datepicker').css('z-index', 99999999999999);
                }, 0);
            }
        });

        $('.message-name').focus();
        new ML.Messages({
            'edit-mode': {% if edit_mode %}true{% else %}false{% endif %},
            'event_id': {% if event_id %}{{ event_id }}{% else %}null{% endif %}
        });
    });
</script>
{% endblock %}
