{% extends "base.html" %}

{% block heading %}<h1>Events calendar</h1>{% endblock %}

{% block header %}
<div class="search-form">
    <form method="post" action="{{ SITE_URL }}events/">
        {% csrf_token %}
        <input type="text" data-clear-btn="true" name="terms" placeholder="Search for #topics" value="{% if tagstring %}{{ tagstring }}{% else %}{% endif %}" />
    </form>
</div>
{% endblock %}

{% block post_link %}post-event{% endblock %}

{% block content %}
    <div class="feed">
        {{ results|safe }}
        <button data-icon="plus">More</button>
    </div>
{% endblock %}

{% block footermenu %}
<div class="slider-container">
    <form>
        <label for="range" class="ui-hidden-accessible">Slider:</label>
        <input name="range" id="range" min="1" max="{{ account.max_range }}" step="1" value="10" type="range">
    </form>
    <a id="filter" href="#" data-role="button" data-icon="check" data-iconpos="notext" data-inline="true">Check</a>
</div>

{% endblock %}

{% block extrajs %}{{ block.super }}
<script type="text/javascript">
    $(document).on('ml.Ready', function () {
        new ML.Feed({'results': {{ total }}, 'next': '{{ next }}', 'slider': true, 'events_only': true, 'autoscroll': true});
    });
</script>
{% endblock %}
