{% extends "base.html" %}

{% block content %}
    <div class="feed">
        {% for n in replies %}
            <p>{% for mess in n.messages %}
                {% spaceless %}
                {% if forloop.counter == 1 %}
                {% elif forloop.counter == n.messages|length %}and
                {% else %},
                {% endif %}
                {% endspaceless %}
                <a href="{{ SITE_URL }}profile/{{ mess.member.slug }}">{{ mess.member.name }}</a>
            {% endfor %} <strong>replied to</strong> <em><a href="{{ SITE_URL }}message/{{ mess.id }}">{{ n.parent.title|truncatechars:48 }}</a></em></p>
        {% endfor %}
    </div>
{% endblock %}

{% block extrajs %}{{ block.super }}
<script type="text/javascript">
    /*$(document).on('ml.Ready', function () {
        new ML.Feed({'url': '{{ SITE_URL }}', 'results': {{ total }}, 'next': '{{ next }}', 'filters': true, 'autoscroll': true});
    });*/
</script>
{% endblock %}
