{% extends "base.html" %}

{% block heading %}<h1>Write Post</h1>{% endblock %}

{% block content %}
<div class="write-message">
    <div data-entity="message" data-type="message">

        <div class="box">
            <div class="form-card">
                <div class="ui-content" id="errors"
                     data-role="popup"
                     data-transition="pop"
                     data-position-to="window"
                     data-dismissible="false"
                     data-theme="a"
                     data-overlay-theme="a">
                    <a class="ui-btn-left" href="#" data-role="button" data-iconpos="notext" data-icon="delete" data-rel="back" data-theme="a">Close</a>
                    <div id="errors-content"></div>
                </div>
                {{ form.body }}

                <div class="form-field picture">
                    <label>Upload a picture</label>
                    {{ form.picture }}
                    <div class="button hidden" data-entity="picture-clear_id">
                        <input type="checkbox" name="picture-clear" id="picture-clear_id">
                        <label for="picture-clear_id">Remove</label>
                    </div>

                    <p class="description">{{ form.picture.help_text }}</p>
                    <p class="description">The upload is known not to work on certain devices, including Windows Phones and older Android Phones.</p>
                    {% comment %}{% if form.picture.value %}
                    <div class="picture-rotate">
                        <a href="" title="Roate picture" data-entity="image-rotate" rel="{{ form.picture.value }}">
                            <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-rotate" alt="Rotate picture" />
                        </a>
                    </div>
                    {% endif %}{% endcomment %}
                </div>
            </div>

            <div class="form-visibility">
                {{ form.visibility }}
                <div class="message-types clearfix">
                    {% for option in form.visibility.field.choices %}<div class="message-type">
                        <a href="#" data-entity="message-type" class="message-option" data-type="{{ option.0 }}">
                            <p>{{ option.1 }}</p>
                            {% if option.1 == 'Friends' %}
                            <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-friends" alt="" />
                            <span>Only your friends will see this message</span>
                            {% elif option.1 == 'Global' %}
                            <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-global" alt="" />
                            <span>Everyone on Mumlife will see this message</span>
                            {% else %}
                            <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-local" alt="" />
                            <span>Everyone in your local area will see this message</span>
                            {% endif %}
                        </a>
                    </div>{% endfor %}
                </div>
            </div>

            <div class="submit-btn">
                <button data-entity="button" class="button message-button">Post</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footermenu %}
{% spaceless %}
<li>
    <a class="icon-link" href="/write" title="Back">
        <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-back" alt="Back" />
    </a>
</li>
{% endspaceless %}
{% endblock %}


{% block extrajs %}{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ajaxfileupload.js"></script>
<script type="text/javascript">
    $(document).on('ml.Ready', function () {
        $('.message-body').focus();
        new ML.Messages();

        // Picture Upload Field
        new ML.Upload({'model': 'Message', 'field': 'picture', 'width': 403, 'height': 'auto'});
        //new ML.ImageRotate({'field': 'picture-edit', 'attached': false})
    });
</script>
{% endblock %}
