{% extends "base.html" %}

{% block content %}
<div class="profile">
    <div class="ui-content" id="errors"
         data-role="popup"
         data-transition="pop"
         data-position-to="window"
         data-dismissible="false"
         data-theme="a"
         data-overlay-theme="a">
        <a class="ui-btn-left" href="#" data-role="button" data-iconpos="notext" data-icon="delete" data-rel="back" data-theme="a">Close</a>
        <div id="errors-content"></div>
    </div>

    <div class="picture clearfix">
        <img class="avatar"
             src="{% if member.picture %}{{ member.picture }}{% else %}{{ STATIC_URL }}img/picture-default.png{% endif %}"
             alt="{{ member.name }}" width="150" height="150" />
        <ul>
            <li>{{ member.area }}</li>
            {% if member.id != account.id and member.distance != 'N/A' %}
            <li>{{ member.distance }}</li>
            {% endif %}

            {% if member.gender %}
            <li>{{ member.gender }}</li>
            {% endif %}

            {% if member.kids|length %}
            <li>{{ member.kids|length }} kid{{ member.kids|pluralize }}</li>
            {% endif %}

            {% comment %}   Add to Friend   {% endcomment %}
            {% if member.id != account.id %}
            {% if member.friend_status and member.friend_status == 'Approved' %}
            <li><img src="{{ STATIC_URL }}img/z.gif" class="icon icon-friend" alt="Friend" /></li>
            {% elif member.friend_status and member.friend_status == 'Pending' %}
            <li><img src="{{ STATIC_URL }}img/z.gif" class="icon icon-pendingfriend" alt="Requested" /></li>
            {% elif member.friend_status and member.friend_status == 'Requesting' %}
            <li><a class="icon-link addtofriend" href="#{{ account.id }},{{ member.id }}" rel="confirm">
                <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-confirmfriend" alt="Approve" />
            </a></li>
            {% elif member.friend_status and member.friend_status == 'Blocked' %}
                {% comment %}   This member relationship is blocked     {% endcomment %}
            {% else %}
            <li><a class="icon-link addtofriend" href="#{{ account.id }},{{ member.id }}">
                <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-addtofriend" alt="Add to friend" />
            </a></li>
            {% endif %}
            {% endif %}

        </ul>
    </div>

    <h2>{{ member.name }}</h2>
    {% if member.tags %}
    <p class="interests">{% for tag in member.tags %}<span><a href="{{ SITE_URL }}members/%23{{ tag.key }}">{{ tag.value }}</a></span> {% endfor %}</p>
    {% endif %}

    <div data-entity="message" data-type="private-message" data-recipient="{{ member.id }}" class="hidden">
        <textarea data-name="A message" class="message-body elastic" rows="2" cols="70" required="required"></textarea>
        <button data-entity="button" class="button message-button">Post</button>
    </div>

    {% if member.about %}<div class="about box">{{ member.about|linebreaks }}</div>{% endif %}

    {% if member.kids|length %}<h3>My Kid{{ member.kids|pluralize }}</h3>
        <ul class="kids">{% for kid in member.kids %}
            <li class="box"><strong>{{ kid.name }}</strong>, {{ kid.age }}</li>
        {% endfor %}</ul>
    {% endif %}
</div>
{% endblock %}

{% block footermenu %}
{% if member.id == account.id %}
<li class="nav-edit">
    <a class="icon-link" href="{{ SITE_URL }}profile/edit" title="Edit Profile"><img src="{{ STATIC_URL }}img/z.gif" class="icon icon-settings" alt="" /><span>Edit Profile</span></a>
</li>
{% else %}

{% comment %}Add to Friend{% endcomment %}
{% if member.friend_status and member.friend_status == 'Approved' %}
<li><img src="{{ STATIC_URL }}img/z.gif" class="icon icon-friend" alt="" /><span>Friend</span></li>
{% elif member.friend_status and member.friend_status == 'Pending' %}
<li><img src="{{ STATIC_URL }}img/z.gif" class="icon icon-pendingfriend" alt="" /><span>Requested</span></li>
{% elif member.friend_status and member.friend_status == 'Requesting' %}
<li><a class="icon-link addtofriend" href="#{{ account.id }},{{ member.id }}" rel="confirm">
    <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-confirmfriend" alt="" /><span>Approve</span>
</a></li>
{% elif member.friend_status and member.friend_status == 'Blocked' %}
    {% comment %}This member relationship is blocked{% endcomment %}
{% else %}
<li><a class="icon-link addtofriend" href="#{{ account.id }},{{ member.id }}">
    <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-addtofriend" alt="" /><span>Add to friend</span>
</a></li>
{% endif %}

{% comment %}Write a Private Message{% endcomment %}
<li>
    <a class="icon-link" href="#" data-entity="message" title="Post private message">
        <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-write" alt="" />
        <span>Post</span>
    </a>
</li>
{% endif %}
{% endblock %}

{% block extrajs %}{{ block.super }}
<script type="text/javascript">
    $(document).on('ml.Ready', function () {
        new ML.AddToFriends({'class': 'addtofriend'});
        new ML.Messages();
    });
</script>
{% endblock %}
