{% extends "base.html" %}

{% block bodyclass %}edit-mode manage-friends{% endblock %}

{% block heading %}<h1>Manage friends</h1>{% endblock %}

{% block content %}
    <section>

        {% comment %} Friends Requests {% endcomment %}
        {% if friend_requests %}
        <div data-role="collapsible">
            <h2>Friends Requests <span class="count">{{ friend_requests|length }}</span></h2>
            <ul data-role="listview">
                {% for friend in friend_requests %}
                    <li>
                        <div class="ui-grid-b">
                            <div class="ui-block-a">
                                <a href="/profile/{{ friend.slug }}">{{ friend.name }}</a>
                            </div>
                            <div class="ui-block-b">
                                <a class="addtofriend"
                                   href="#{{ account.id }},{{ friend.id }}"
                                   rel="confirm"
                                   data-role="button" data-icon="check" data-iconpos="right"><span>OK</span></a>
                            </div>
                            <div class="ui-block-c">
                                <a class="addtofriend"
                                   href="#{{ account.id }},{{ friend.id }}"
                                   rel="block"
                                   data-role="button" data-icon="delete" data-iconpos="right"><span>Block</span></a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% comment %} Friends {% endcomment %}
        {% if friends %}
        <div data-role="collapsible">
            <h2>Friends <span class="count">{{ friends|length }}</span></h2>
            <ul data-role="listview">
                {% for friend in friends %}
                    <li>
                        <div class="ui-grid-a">
                            <div class="ui-block-a">
                                <a href="/profile/{{ friend.slug }}">{{ friend.name }}</a>
                            </div>
                            <div class="ui-block-c">
                                <a class="addtofriend"
                                   href="#{{ account.id }},{{ friend.id }}"
                                   rel="block"
                                   data-role="button" data-icon="delete" data-iconpos="right"><span>Block</span></a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% comment %} Blocked Requests {% endcomment %}
        {% if blocked_requests %}
        <div data-role="collapsible">
            <h2>Blocked Requests <span class="count">{{ blocked_requests|length }}</span></h2>
            <ul data-role="listview">
                {% for friend in blocked_requests %}
                    <li>
                        <div class="ui-grid-a">
                            <div class="ui-block-a">
                                <a href="/profile/{{ friend.slug }}">{{ friend.name }}</a>
                            </div>
                            <div class="ui-block-b">
                                <a class="addtofriend"
                                   href="#{{ account.id }},{{ friend.id }}"
                                   data-role="button" data-icon="check" data-iconpos="right"><span>Add to Friend</span></a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

    </section>
    <footer> </footer>
{% endblock %}

{% block footermenu %}
{% spaceless %}
<li>
    <a class="icon-link" href="/profile/edit" title="Back">
        <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-back" alt="Back" />
    </a>
</li>
<li>
    <a class="icon-link" href="/profile" title="Profile">
        <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-profile" alt="Profile" />
    </a>
</li>
{% endspaceless %}
{% endblock %}

{% block extrajs %}{{ block.super }}
<script type="text/javascript">
    $(document).on('ml.Ready', function () {
        new ML.AddToFriends({'class': 'addtofriend'});
    });
</script>
{% endblock %}
