{% extends "base.html" %}
{% load l10n %}

{% block bodyclass %}edit-mode{% endblock %}
{% block extrastyle %}<link type="text/css" href="{{ STATIC_URL }}css/jquery.ui.datepicker.css" rel="stylesheet" />{% endblock %}
{% block extrahead %}<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>{% endblock %}

{% block heading %}<h1>Account settings</h1>{% endblock %}

{% block content %}
    <section>

        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}

            {% if form.errors %}
                <div id="form-errors">
                    {{ form.errors }}
                </div>
            {% endif %}

            <div class="form-card box">
                <div class="form-field">
                    <label>Email Address</label>
                    <input type="email" disabled="disabled" value="{{ account.user.email }}" />
                    <p class="description">Your email address cannot be changed here. Please <a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="full" data-uv-primary-color="#64b0b3" data-uv-link-color="#a93e2e" data-uv-default-mode="support" data-uv-forum-id="240962">contact us</a> should you wish to do so.</p>
                </div>
                <div class="form-field">
                    <label>Password</label>
                    <input type="text" disabled="disabled" value="●●●●●●●●●●" />
                    <p class="description">For security reasons, passwords are not stored, but you can it using <a href="/member/password/change/">this form</a>
                </div>
                <div class="form-field">
                    {{ form.fullname.label_tag }}
                    {{ form.fullname }}
                    <p class="description">{{ form.fullname.help_text }}</p>
                </div>
                <div class="form-field">
                    {{ form.postcode.label_tag }}
                    <input type="text" disabled="disabled" value="{{ form.postcode.value }}" />
                    <p class="description">Your postcode cannot be changed here. Please <a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="full" data-uv-primary-color="#64b0b3" data-uv-link-color="#a93e2e" data-uv-default-mode="support" data-uv-forum-id="240962">contact us</a> should you wish to do so.</p>
                </div>
                <div class="form-field">
                    <fieldset data-role="controlgroup" id="id_gender" name="gender" data-value="{{ form.gender.value }}">
                    {% for choice in form.gender.field.choices %}
                        {% if choice.0 != '' %}
                        <input name="gender" id="gender-choice-{{ choice.0 }}" type="radio"
                               value="{{ choice.0 }}"
                               {% if choice.0 == form.gender.value %}checked="checked"{% endif %}>
                        <label for="gender-choice-{{ choice.0 }}">{{ choice.1 }}</label>
                        {% endif %}
                    {% endfor %}
                    </fieldset>
                    <p class="description">{{ form.gender.help_text }}</p>
                </div>
                <div class="form-field">
                    {{ form.dob.label_tag }}
                    {% localize on %}
                    <input type="date" name="dob" id="{{ form.dob.id_for_label }}"
                           value="{{ form.dob.value|date:"Y-m-d" }}"
                           placeholder="{% now "Y-m-d" %}">
                    {% endlocalize %}
                    <p class="description">Your date of birth is, and always will be, private. We won't share it with anyone.</p>
                </div>
                <div class="form-field picture">
                    {{ form.picture.label_tag }}
                    {{ form.picture }}
                    {% if form.picture.value %}
                    <div class="picture-rotate">
                        <a href="" title="Roate picture" data-entity="image-rotate">
                            <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-rotate" alt="Rotate picture" />
                        </a>
                    </div>
                    {% endif %}
                    <p class="description">{{ form.picture.help_text }}</p>
                    <p class="description">The upload is known not to work on certain devices, including Windows Phones and older Android Phones.
                        You can still access your account from a computer to upload a picture.</p>
                    <p class="description"><span class="bold">You will be able to rotate the picture after it is uploaded.</span></p>
                </div>
                <div class="form-field">
                    {{ form.about.label_tag }}
                    {{ form.about }}
                    <p class="description">{{ form.about.help_text }}</p>
                </div>
            </div>

            <div class="hidden">
                {{ form.interests }}
                {{ form.units }}
                {{ form.max_range }}
            </div>
            <div data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-icon="check" data-theme="a" data-disabled="false" 
                 class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-left ui-btn-up-a" aria-disabled="false">
                <span class="ui-btn-inner">
                    <span class="ui-btn-text">Save</span>
                    <span class="ui-icon ui-icon-check ui-icon-shadow">&nbsp;</span>
                </span>
                <input type="submit" data-icon="check" data-role="button" value="Save" class="ui-btn-hidden" data-disabled="false">
            </div>
        </form>
    </section>
    <footer> </footer>
{% endblock %}

{% block footermenu %}
{% spaceless %}
<li>
    <a class="icon-link" href="/profile/edit" title="Back">
        <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-back" alt="Back" />
    </a>
</li>
<li>
    <a class="icon-link" href="/profile" title="Profile">
        <img src="{{ STATIC_URL }}img/z.gif" class="icon icon-profile" alt="Profile" />
    </a>
</li>
{% endspaceless %}
{% endblock %}

{% block extrajs %}{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ajaxfileupload.js"></script>
<script type="text/javascript">
    $(document).on('ml.Ready', function () {
        // Mobile devices tend to have their own built-in date picker
        if (!platform.product) {
            // DoB Date Picker
            $('[name="dob"]').datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy-mm-dd",
                maxDate: "-12y",
                yearRange: '1952:{% now "Y" %}',
                beforeShow: function() {
                    setTimeout(function() {
                        $('.ui-datepicker').css('z-index', 99999999999999);
                    }, 0);
                }
            });
        }

        // Expandable textareas
        $('#id_about').elastic();

        // Picture Upload Field
        new ML.Upload({'model': 'Member', 'field': 'picture', 'width': 150, 'height': 150});
        new ML.ImageRotate({'field': 'picture-edit'})
    });
</script>
<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/Hl3osDsDgrXWdjJCdvPwng.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>
{% endblock %}
