{% extends "base.html" %}

{% block bodyclass %}edit-mode{% endblock %}

{% block heading %}<h1>Edit profile</h1>{% endblock %}

{% block content %}
    <section>
        <a href="{{ SITE_URL }}profile" data-role="button" data-icon="arrow-l" data-iconpos="left">Back</a>
        <a href="{{ SITE_URL }}profile/edit/account" data-role="button" data-icon="arrow-r" data-iconpos="right">Account settings</a>
        <a href="{{ SITE_URL }}profile/edit/kids" data-role="button" data-icon="arrow-r" data-iconpos="right">My kids</a>
        <a href="{{ SITE_URL }}profile/edit/interests" data-role="button" data-icon="arrow-r" data-iconpos="right">My interests</a>
        <a href="{{ SITE_URL }}profile/edit/friends" data-role="button" data-icon="arrow-r" data-iconpos="right">My friends</a>
        <a href="{{ SITE_URL }}profile/edit/preferences" data-role="button" data-icon="arrow-r" data-iconpos="right">Preferences</a>
        <a href="{{ SITE_URL }}logout" data-role="button" data-icon="delete" data-iconpos="left">Logout</a>
    </section>
    <footer> </footer>
{% endblock %}
