{% extends "base.html" %}

{% block extrahead %}
<script type="text/javascript">
    $(document).bind("mobileinit", function () {
        $.mobile.ajaxEnabled = false;
        $.mobile.linkBindingEnabled = false;
        $.ns = 'jqm';
    });
</script>
<script type="text/javascript" src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
<script src="{{ STATIC_URL }}js/jqm-datebox.comp.calbox.min.js"></script>
{% endblock %}

{% block bodyclass %}edit-mode{% endblock %}
{% block pagetheme %}c{% endblock %}
{% block headertheme %}c{% endblock %}
{% block contenttheme %}c{% endblock %}
{% block footertheme %}c{% endblock %}

{% block backbutton %}
<a data-role="button"
   data-icon="arrow-l"
   data-iconpos="notext"
   data-wrapperels="span"
   data-rel="back"
   href="{{ SITE_URL }}profile/edit">Back</a>
{% endblock %}

{% block content %}
    <header>
        <h2>{{ account.fullname }} (edit profile)</h2>
    </header>
    <section>

        <div class="form-card box">
            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="form-field">
                    <label>Email Address</label>
                    <input type="text" disabled="disabled" value="{{ account.user.email }}" />
                    <p class="description">Your email address cannot be changed here. Please contact us should you wish to do so.</p>
                </div>
                <div class="form-field">
                    <label>Password</label>
                    <input type="password" disabled="disabled" value="**********" />
                    <p class="description">For security reasons, passwords are not stored, but you can it using <a href="{{ SITE_URL }}member/password/change/">this form</a>
                </div>
                <div class="form-field">
                    {{ form.fullname.label_tag }}
                    {{ form.fullname }}
                    <p class="description">{{ form.fullname.help_text }}</p>
                </div>
                <div class="form-field">
                    {{ form.postcode.label_tag }}
                    {{ form.postcode }}
                    <p class="description">{{ form.postcode.help_text }}</p>
                </div>
                <div class="form-field">
                    {{ form.gender.label_tag }}
                    <fieldset data-role="controlgroup" id="id_gender" name="gender" data-value="{{ form.gender.value }}">
                    {% for choice in form.gender.field.choices %}
                        {% if choice.0 != '' %}
                        <input name="gender" id="gender-choice-{{ choice.0 }}" type="radio"
                               value="{{ choice.0 }}"
                               {% if choice.0 == form.gender.value %}checked="checked"{% endif %}>
                        <label for="gender-choice-{{ choice.0 }}">{{ choice.1 }}</label>
                        {% endif %}
                    {% endfor %}
                    </fieldset>
                    <p class="description">{{ form.gender.help_text }}</p>
                </div>
                <div class="form-field">
                    {{ form.dob.label_tag }}
                    <input type="date" name="dob" id="{{ form.dob.id_for_label }}" value="{{ form.dob.value }}"
                           data-role="datebox"
                           data-options='{"mode": "calbox", "calUsePickers": true, "overrideDateFormat": "%Y-%m-%d", "beforeToday": true}' />
                    <p class="description">{{ form.dob.help_text }}</p>
                </div>
                <div class="form-field">
                    {{ form.picture.label_tag }}
                    {{ form.picture }}
                    <p class="description">{{ form.picture.help_text }}</p>
                    <p class="description">The upload is known not to work on certain devices, including Windows Phones and older Android Phones.
                        You can still access your account from a computer to upload a picture.</p>
                </div>
                <div class="form-field">
                    {{ form.about.label_tag }}
                    {{ form.about }}
                    <p class="description">{{ form.about.help_text }}</p>
                </div>
            </form>
        </div>
    </section>
    <footer> </footer>
{% endblock %}

{% block extrajs %}{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ajaxfileupload.js"></script>
<script type="text/javascript">
    $(document).on('ml.Ready', function () {
        // Add the datebox CSS last
        $('head').append('<link type="text/css" href="{{ STATIC_URL }}css/jqm-datebox.min.css" rel="stylesheet" />');

        // Expandable textareas
        $('#id_about').elastic();

        // Auto Fields
        new ML.AutoField({'entity': {{ account.id }}, 'field': 'fullname', 'api_url': '{{ api_url }}', 'token': '{{ csrf_token }}'});
        new ML.AutoField({'entity': {{ account.id }}, 'field': 'postcode', 'api_url': '{{ api_url }}', 'token': '{{ csrf_token }}'});
        new ML.AutoField({'entity': {{ account.id }}, 'field': 'gender', 'api_url': '{{ api_url }}', 'token': '{{ csrf_token }}', 'widget': 'select'});
        new ML.AutoField({'entity': {{ account.id }}, 'field': 'dob', 'api_url': '{{ api_url }}', 'token': '{{ csrf_token }}', 'widget': 'date'});
        new ML.AutoField({'entity': {{ account.id }}, 'field': 'about', 'api_url': '{{ api_url }}', 'token': '{{ csrf_token }}', 'widget': 'elastic'});

        // Upload Field
        new ML.Upload({'url': '{{ SITE_URL }}upload','model': 'Member', 'field': 'picture', 'token': '{{ csrf_token }}', 'width': 90, 'height': 90});
    });
</script>
{% endblock %}
