{% extends "base.html" %}
{% load l10n %}

{% block extrastyle %}<link type="text/css" href="{{ STATIC_URL }}css/jquery.ui.datepicker.css" rel="stylesheet" />{% endblock %}
{% block extrahead %}<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>{% endblock %}

{% block bodyclass %}edit-mode{% endblock %}

{% block heading %}<h1>Edit {{ kid.fullname }}</h1>{% endblock %}

{% block content %}
    <section>

        <a href="{{ SITE_URL }}profile/edit/kids" data-role="button" data-icon="arrow-l" data-iconpos="left">Back</a>

        <form action="" method="post">{% csrf_token %}

            <div class="form-card box">
                <div class="form-field">
                    {{ form.fullname.label_tag }}
                    {{ form.fullname }}
                    <p class="description">{{ form.fullname.help_text }}</p>
                </div>
                <div class="form-field">
                    {{ form.gender.label_tag }}
                    <fieldset data-role="controlgroup" id="id_gender" name="gender" data-value="{{ form.gender.value }}">
                    {% for choice in form.gender.field.choices %}
                        {% if choice.0 != '' %}
                        <input name="gender" id="gender-choice-{{ choice.0 }}" type="radio"
                               value="{{ choice.0 }}"
                               {% if choice.0 == form.gender.value %}checked="checked"{% endif %}>
                        <label for="gender-choice-{{ choice.0 }}">{{ choice.1 }}</label>
                        {% endif %}
                    {% endfor %}
                    </fieldset>
                    <p class="description">{{ form.gender.help_text }}</p>
                </div>
                <div class="form-field">
                    {{ form.dob.label_tag }}
                    {% localize on %}
                    <input type="date" name="dob" id="{{ form.dob.id_for_label }}" 
                           value="{{ form.dob.value }}"
                           placeholder="{% now "Y-m-d" %}">
                    {% endlocalize %}
                    <p class="description">{{ form.dob.help_text }}</p>
                </div>
                <div class="form-field">
                    {{ form.visibility.label_tag }}
                    <fieldset data-role="controlgroup" id="id_visibility" name="visibility" data-value="{{ form.visibility.value }}">
                    {% for choice in form.visibility.field.choices %}
                        {% if choice.0 != '' %}
                        <input name="visibility" id="visibility-choice-{{ choice.0 }}" type="radio"
                               value="{{ choice.0 }}"
                               {% if choice.0 == form.visibility.value %}checked="checked"{% endif %}>
                        <label for="visibility-choice-{{ choice.0 }}">{{ choice.1 }}</label>
                        {% endif %}
                    {% endfor %}
                    </fieldset>
                    <p class="description">{{ form.visibility.help_text }}</p>
                </div>
            </div>

            <div data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-icon="check" data-theme="a" data-disabled="false"
                 class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-left ui-btn-up-a" aria-disabled="false">
                <span class="ui-btn-inner">
                    <span class="ui-btn-text">Save</span>
                    <span class="ui-icon ui-icon-check ui-icon-shadow">&nbsp;</span>
                </span>
                <input type="submit" data-icon="check" data-role="button" value="Save" class="ui-btn-hidden" data-disabled="false">
            </div>
        </form>
    </section>
    <footer> </footer>
{% endblock %}

{% block extrajs %}{{ block.super }}
<script type="text/javascript">
    $(document).on('ml.Ready', function () {
        // DoB Date Picker
        // Mobile devices tend to have their own built-in date picker
        if (!platform.product) {
            $('[name="dob"]').datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy-mm-dd",
                maxDate: 0,
                yearRange: '1972:{% now "Y" %}',
                beforeShow: function() {
                    setTimeout(function() {
                        $('.ui-datepicker').css('z-index', 99999999999999);
                    }, 0);
                }
            });
        }
    });
</script>
{% endblock %}
